## Measures of Central Tendency

These are defined by three statisitcs/quantities namely mean, median, and mode

Here is a simple video to explain you the concepts:
https://www.youtube.com/watch?v=GrynkZB3E7M

### Mean

The mean, or average, of the data is the sum of all of the values of all of the datapoints divided by the total number of datapoints. It is important to note that it is sensitive to outliers, or values that are very far from the majority of other values in the data. This means that the mean will show a relatively large fluctuation when outlying points are added or removed from the dataset

To do this with python, we will work with 'statistics' library. 
statistics is a very powerful library that provides us with many predefined mathematical functions to manipulate data. We will talk about the statistics library in more detail when we will deep dive in data analysis in the bootcamp. 

Here is a link to the documentation of this library for more details. 
[https://docs.python.org/3/library/statistics.html]

In [ ]:
import statistics as stats # `as` is a keyword that is used create an alias `stats` for the statistics library

Why do we need an alias:

If we have to use any predefined function from a library, we do it using a dot `.` operator. For eg
statistics.mean(<argument>)     # To find the mean of some data points 
statistics.median(<argument>)   # To find the median of some data points 

Instead of using the complete name for the library, most coders prefer using a shorter alias. For eg. `stats` for statistics library, `pd` for pandas library, `np` for numpy library. We will discuss these libraries later  
So now this alias can be used as a shorthand for the complete name of the library

stats.mean(<argument>)
stats.median(<argument>)

In [ ]:
# Given the following data (we will use a list here) :
student_grades = [79, 87, 99, 96, 88, 79, 75, 68, 90, 91, 67]  # Here are the grades of 11 students in a class

In [ ]:
stats.mean(student_grades)

83.54545454545455

### Median

The median is the middle number when the data is sorted into an ordered list. If there is an even number of datapoints, the median is the average of the middle two values. Unlike the mean, the inclusion of outliers does not have a very big impact on the median: even if the outlier is very large, if the rest of the data are more similarly distributed, adding one outlier to the data will only move the median slightly to one side of its previous position in the center of the data

In [5]:
student_grades = [79, 87, 99, 96, 88, 79, 75, 68, 90, 91, 67]  # Here are the grades of 11 students in a class

How is the median calculated? A simple pseudocode.

Arrange the data points in an ascending order

First we look at the number of data points that we have. We can do it using the length function for lists 

If the number of data points is odd
    Then median is (N+1)/2 th term is the median

If the number of data points is even
    Median is the arithematic mean of (N/2)th term and (N/2 + 1)th term

In [4]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\lara\anaconda3\envs\python3\lib\site-packages (1.21.3)

In [6]:
import numpy as np
np.sort(student_grades)  # This is a function we can use to sort the data in ascending order

array([67, 68, 75, 79, 79, 87, 88, 90, 91, 96, 99])

In [ ]:
len(student_grades) # Number of data points in the list.

11

In [ ]:
# It should be the sixth term in the list. Note that `N` in the formula above for finding the mean 
# is a mathematical notation which does not follow zero based indexing as python

In [ ]:
stats.median(student_grades)

87

In [ ]:
# If the data had an even number of elements as shown below:

student_grades = [79, 87, 99, 96, 88, 79, 75, 68, 90, 91]

In [ ]:
np.sort(student_grades)

array([68, 75, 79, 79, 87, 88, 90, 91, 96, 99])

In [ ]:
len(student_grades)

10

In [ ]:
stats.median(student_grades)

87.5

### Mode

The mode is the value that appears most often in the data. This measure is used most for categorical data, where we would be most interested in that category that is most used as a way of describing what is the "average" value for that category. We have added some description on what is categorical data in additional resources but we will talk about them in greater detail in the bootcamp when we will develop machine learning models

In [ ]:
student_grades = [79, 87, 99, 96, 88, 79, 75, 68, 90, 91]

In [ ]:
stats.mode(student_grades)

79

Sometimes in our data, there might be multiple modes as well. An example of bi-modal data stored in a list is shown 
below. There values 87 and 99 are represented twice each. Hence there are two modes in the data. Statistics module in python is
unable to detect multiple modes in the data. It results in an error as shown below:

In [ ]:
student_grades = [87, 87, 99, 99, 96, 88, 79, 75, 68, 90, 91]

In [ ]:
stats.mode(student_grades)

StatisticsError: ignored

In [ ]:
# Now we will try to combine some things we learn in unit 1 to solve this problem

PseudoCode :

Define an empty dictionary. This dictionary will store a key-value pair as "Item in the list" and "Its frequency in the List"

Iterate on the list:
    Find the frequency of each element using the count function 
    (Here is a simple demonstration : https://www.tutorialspoint.com/python3/list_count.htm)
    
    Add a new key-value pair with the element in the list as the key and frequency count as the value 

Find the maximum of the values in the dictionary and store it in a new variable max_value.

Now iterate on the items in the dctionary
    
    if the value in the key-value pair matches the variable max_variable:
        print the key for that key-value pair

In [ ]:
# Actual code is below:

In [ ]:
counts_dict = {} # Defining an empty dictionary to store the count of each 
for item in student_grades:
    count_of_item = student_grades.count(item) # Count function to check the frequency of that item in the list 
    counts_dict[item] = count_of_item  # Creating a new key-value pair in each iteration

print(counts_dict)

{87: 2, 99: 2, 96: 1, 88: 1, 79: 1, 75: 1, 68: 1, 90: 1, 91: 1}

In [ ]:
# The values in the dictionary are:
values = counts_dict.values()
print("Values of counts in the dictionary are: ", values)

max_value = max(values)  # To find the max of the frequency counts 
print("Max value in the counts is:", max_value)

Values of counts in the dictionary are:  dict_values([2, 2, 1, 1, 1, 1, 1, 1, 1])
Max value in the counts is: 2

In [ ]:
# In a previous lesson on iterations, we saw how we can iterate on key value pair. This is the example that we
# looked at:
x = {'key1': 100 , 'key2': 200 , 'key3':300}
for key, value in x.items():
    print("For key: ", key, "- the value is: ", value)

For key:  key1 - the value is:  100
For key:  key2 - the value is:  200
For key:  key3 - the value is:  300

In [ ]:
# we will use similar code to find the corresponding key for the value, if it equals the variable `max_value`

In [ ]:
for key, value in counts_dict.items():
    if value == max_value:
        print("Mode: ", key)

Mode:  87
Mode:  99

### Exercise

1. We saw that a dataset can have more than one mode. But can a dataset have more than one median? True or False

2. Given the data in the list:
 data = [4,  7,  5,  9,  8,  6,  7,  7,  8,  5,  6,  9,  8, 5,  8,  7,  4,  7, 3,  6,  8,  9,  7,  6,  9]
 
 What is the range, mean, median, and mode of the dataset. 
 Create a new dictionary called `data_dictionary` and store the above answers as key value pairs in the dictionary. Print the dictionary. 
 
 
3. To find which statistic do you have to arrange the data in an ascending order?

4. How do you find the median when there are even number of data points?

5. What is the range for the data set
    points = [-4,  17,  25,  19,  6,  11,  7]

6. What are outliers in a dataset? Which of the three - Mean, Median, and Mode - is more suseptible to change with presence of outliers in the data?

In [ ]:
# Exercise 1
# We saw that a dataset can have more than one mode. But can a dataset have more than one median? True or False
# False

In [ ]:
# Exercise 2
import numpy as np
import statistics as stats
data = [4, 7, 5, 9, 8, 6, 7, 7, 8, 5, 6, 9, 8, 5, 8, 7, 4, 7, 3, 6, 8, 9, 7, 6, 9]
data_dictionary = {}
data_dictionary["range"] = len(data)
data_dictionary["mean"] = np.mean(data)
data_dictionary["median"] = np.median(data)
data_dictionary["mode"] = stats.mode(data)
print(data_dictionary)

print("stats mean:", stats.mean(data), "+ np means:",np.mean(data))

{'range': 25, 'mean': 6.72, 'median': 7.0, 'mode': 7}
stats mean: 6.72 + np means: 6.72

In [ ]:
# Exercise 3
# Median

# Exercise 4
# (data((len(data)+1)/2) + data((len(data)+1)/2-1))/2

In [ ]:
# Exercise 5
points = [-4, 17, 25, 19, 6, 11, 7]
print(len(points))

7

In [ ]:
# Exercise 6
# Sim, -4 pode ser considerado um outlier
# Mean