<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Acessando-SQL-via-Jupyter" data-toc-modified-id="Acessando-SQL-via-Jupyter-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Acessando SQL via Jupyter</a></span></li><li><span><a href="#Acessando-SQL-via-Pandas-e-SQLAlchemy" data-toc-modified-id="Acessando-SQL-via-Pandas-e-SQLAlchemy-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Acessando SQL via Pandas e SQLAlchemy</a></span></li><li><span><a href="#Case-OLIST" data-toc-modified-id="Case-OLIST-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Case OLIST</a></span></li></ul></div>

# Acessando SQL via Jupyter

In [1]:
%%capture
!pip install ipython-sql

In [2]:
%%capture
%load_ext sql

In [5]:
%sql postgresql://postgres:root@localhost:5432/ironhack

In [6]:
%%sql
SELECT * FROM ironhack.olist_db.olist_sellers_dataset LIMIT 5

 * postgresql://postgres:***@localhost:5432/ironhack
5 rows affected.

[('3442f8959a84dea7ee197c632cb2df15', Decimal('13023'), 'campinas', 'SP'),
 ('d1b65fc7debc3361ea86b5f14c68d2e2', Decimal('13844'), 'mogi guacu', 'SP'),
 ('ce3ad9de960102d0677a81f5d0bb7b2d', Decimal('20031'), 'rio de janeiro', 'RJ'),
 ('c0f3eea2e14555b6faeea3dd58c1b1c3', Decimal('4195'), 'sao paulo', 'SP'),
 ('51a04a8a6bdcb23deccc82b0b80742cf', Decimal('12914'), 'braganca paulista', 'SP')]

In [7]:
%%sql
SELECT * FROM ironhack.olist_db.olist_orders_dataset LIMIT 5

 * postgresql://postgres:***@localhost:5432/ironhack
5 rows affected.

[('e481f51cbdc54678b7cc49136f2d6af7', '9ef432eb6251297304e76186b10a928d', 'delivered', datetime.datetime(2017, 10, 2, 10, 56, 33), datetime.datetime(2017, 10, 2, 11, 7, 15), datetime.datetime(2017, 10, 4, 19, 55), datetime.datetime(2017, 10, 10, 21, 25, 13), datetime.datetime(2017, 10, 18, 0, 0)),
 ('53cdb2fc8bc7dce0b6741e2150273451', 'b0830fb4747a6c6d20dea0b8c802d7ef', 'delivered', datetime.datetime(2018, 7, 24, 20, 41, 37), datetime.datetime(2018, 7, 26, 3, 24, 27), datetime.datetime(2018, 7, 26, 14, 31), datetime.datetime(2018, 8, 7, 15, 27, 45), datetime.datetime(2018, 8, 13, 0, 0)),
 ('47770eb9100c2d0c44946d9cf07ec65d', '41ce2a54c0b03bf3443c3d931a367089', 'delivered', datetime.datetime(2018, 8, 8, 8, 38, 49), datetime.datetime(2018, 8, 8, 8, 55, 23), datetime.datetime(2018, 8, 8, 13, 50), datetime.datetime(2018, 8, 17, 18, 6, 29), datetime.datetime(2018, 9, 4, 0, 0)),
 ('949d5b44dbf5de918fe9c16f97b45f8a', 'f88197465ea7920adcdbec7375364d82', 'delivered', datetime.datetime(2017, 11, 18, 19, 28, 6), datetime.datetime(2017, 11, 18, 19, 45, 59), datetime.datetime(2017, 11, 22, 13, 39, 59), datetime.datetime(2017, 12, 2, 0, 28, 42), datetime.datetime(2017, 12, 15, 0, 0)),
 ('ad21c59c0840e6cb83a9ceb5573f8159', '8ab97904e6daea8866dbdbc4fb7aad2c', 'delivered', datetime.datetime(2018, 2, 13, 21, 18, 39), datetime.datetime(2018, 2, 13, 22, 20, 29), datetime.datetime(2018, 2, 14, 19, 46, 34), datetime.datetime(2018, 2, 16, 18, 17, 2), datetime.datetime(2018, 2, 26, 0, 0))]

# Acessando SQL via Pandas e SQLAlchemy

In [1]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

In [2]:
engine = create_engine('postgresql+psycopg2://postgres:root@localhost:5432/ironhack')

In [14]:
query_seller_count = '''
SELECT
    tb_seller.seller_state,
    count(tb_seller.seller_id)
FROM
    ironhack.olist_db.olist_sellers_dataset as tb_seller
GROUP BY
    tb_seller.seller_state
'''

In [15]:
print(query_seller_count)

SELECT
    tb_seller.seller_state,
    count(tb_seller.seller_id)
FROM
    ironhack.olist_db.olist_sellers_dataset as tb_seller
GROUP BY
    tb_seller.seller_state

In [16]:
tb_state_seller_count = pd.read_sql_query(query_seller_count, engine)
tb_state_seller_count

   seller_state  count
0            RN      5
1            SP   1849
2            GO     40
3            AM      1
4            PA      1
5            PB      6
6            PE      9
7            ES     23
8            MT      4
9            PI      1
10           PR    349
11           CE     13
12           BA     19
13           AC      1
14           RJ    171
15           MA      1
16           RO      2
17           SE      2
18           MS      5
19           RS    129
20           SC    190
21           MG    244
22           DF     30

In [17]:
query_order_count = '''
SELECT
    tb_customers.customer_state,
    COUNT(DISTINCT tb_orders.order_id)
FROM
    ironhack.olist_db.olist_customers_dataset AS tb_customers JOIN
    ironhack.olist_db.olist_orders_dataset AS tb_orders ON (tb_customers.customer_id = tb_orders.customer_id)
GROUP BY
    tb_customers.customer_state
'''

In [18]:
tb_state_customer_count = pd.read_sql_query(query_order_count, engine)
tb_state_customer_count

   customer_state  count
0              AC     81
1              AL    413
2              AM    148
3              AP     68
4              BA   3380
5              CE   1336
6              DF   2140
7              ES   2033
8              GO   2020
9              MA    747
10             MG  11635
11             MS    715
12             MT    907
13             PA    975
14             PB    536
15             PE   1652
16             PI    495
17             PR   5045
18             RJ  12852
19             RN    485
20             RO    253
21             RR     46
22             RS   5466
23             SC   3637
24             SE    350
25             SP  41746
26             TO    280

In [21]:
queryFile = open('READ_TB_ATRASOS.sql', 'rb')
query_string = queryFile.read().decode()
queryFile.close()

In [22]:
print(query_string)

SELECT
	tb_classif_atraso.classif_atraso,
	COUNT(tb_classif_atraso.flight_id) AS num_voo_atrasado,
	AVG(tb_classif_atraso.amount) AS ticket_medio_atraso
FROM
	(
	SELECT
		t1.book_ref,
		t1.total_amount,
		t2.ticket_no,
		t3.flight_id,
		t3.amount,
		CASE WHEN t4.actual_departure > t4.scheduled_departure + INTERVAL '2 hours' THEN 'ATRASO'
			 ELSE 'PONTUAL' END AS classif_atraso
	FROM
		ironhack.bookings.bookings AS t1 INNER JOIN
		ironhack.bookings.tickets AS t2 ON t1.book_ref = t2.book_ref INNER JOIN
		ironhack.bookings.ticket_flights AS t3 ON  t2.ticket_no=t3.ticket_no INNER JOIN
		ironhack.bookings.flights AS t4 ON t3.flight_id = t4.flight_id
	WHERE
		t4.status = 'Departed' OR
		t4.status = 'Arrived'
	) AS tb_classif_atraso
GROUP BY
	classif_atraso

In [23]:
list_queries = query_string.split('//////')

In [24]:
print(list_queries[1])

IndexError: list index out of range

In [25]:
pd.read_sql_query(query_string, engine)

  classif_atraso  num_voo_atrasado  ticket_medio_atraso
0         ATRASO             27419         19012.257923
1        PONTUAL            549686         19962.577362

# Case OLIST
1) O atraso na entrega é motivo de frustração para clientes de qualquer e-commerce. Gostaríamos de compreender melhor se existem causas estruturais para o atraso e compreender se esses atrasos geram um impacto na percepção do cliente sobre os pedidos:
   - A nossa rede de sellers está espalhada pelo Brasil, assim como nossos clientes. Será que a distância entre sellers e clientes impacta o atraso na entrega?
   - A diversidade de produtos vendidos através de nossa plataforma é grande, será que os atrasos estão concentrados em certos tipos de produto?
   - O impacto sobre a experiência do cliente pode ser mensurado através das diferentes reviews. Qual o impacto dos atrasos sobre estes reviews? Qual seria o impacto se reduzíssemos o número de atrasos em 50%?
   - (BONUS) O tempo de entrega previsto é um dos principais determinantes na escolha de um vendedor especifico em marketplaces online. No entanto ao reduzir a previsão do tempo de entrega corremos o risco de aumentar o número de clientes insatisfeitos. Atualmente as previsões de entrega estão sendo feitas de maneira assertiva? Quais dados você precisaria para analisar os beneficios e riscos de uma previsão de tempo de entrega mais otimista?
   
2) O custo de frete é uma das principais determinantes na escolha de um vendedor em um e-Commerce. Uma maneira de reduzir o custo de frete médio é aumentando a rede de distribuição (sellers) e garantindo que esta rede tenha uma distribuição de localização semelhante à demanda. A área de marketing responsável pela captação de sellers requisitou uma análise para focar esforços em regiões que apresentem um déficit de sellers em relação à demanda. Além disso gostariam de um primeiro indicio sobre os possíveis impactos sobre vendas caso esse deficit seja suprido.

3) (BONUS) A Olist pretende criar um programa de capacitação de sellers com o objetivo de aumentar vendas. Precisamos criar um raio-x da base de sellers atuais, olhando diferentes indicadores comerciais tais quais assortment, volume de vendas, margem, região de origem, região atendida e categoria de produtos ofertadas para criar uma recomendação de 10 sellers que, com pequenas alterações em sua dinâmica de negócio poderiam obter grandes incrementos em vendas. Crie este raio-x de sellers com as dimensões que você acha mais pertinentes e proponha um caminho para fazer a seleção de candidatos ao programa.

In [4]:
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
query_c1 ='''
SELECT
	opd.product_id AS product_id,
	osd.seller_id AS seller_id,
	ooid.price AS preco,
	ooid.freight_value AS frete,
	osd.seller_state AS estado_seller,
	ocd.customer_state AS estado_cliente,
	opd.product_category_name AS category
FROM ironhack.olist_db.olist_order_items_dataset AS ooid
JOIN ironhack.olist_db.olist_products_dataset opd ON (ooid.product_id = opd.product_id)
JOIN ironhack.olist_db.olist_sellers_dataset osd ON (ooid.seller_id = osd.seller_id)
JOIN ironhack.olist_db.olist_orders_dataset ood ON (ooid.order_id = ood.order_id)
JOIN ironhack.olist_db.olist_customers_dataset ocd ON (ood.customer_id = ocd.customer_id);
'''

In [6]:
olist_df = pd.read_sql_query(query_c1, engine)

In [7]:
olist_df.to_csv('olist_extracted.csv')

In [8]:
olist_df.head()

,product_id,seller_id,preco,frete,estado_seller,estado_cliente,category
0,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.90,13.29,SP,RJ,cool_stuff
1,884fa3cd42986ba480ea2f8ae4e25ff7,3340ef1913fb70d28420f6ceb685c339,195.00,18.21,PR,MS,informatica_acessorios
2,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93,SP,SP,pet_shop
3,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.00,17.87,MG,MG,moveis_decoracao
4,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79,SP,SP,perfumaria

In [24]:
olist_agg_seller = olist_df.groupby('seller_id').agg({'product_id':'count','preco': 'sum', 'frete': 'sum'})

In [25]:
olist_agg_seller.columns = ['count_products', 'sales_revenue', 'freight']
olist_agg_seller.head()

                                  count_products  sales_revenue  freight
seller_id
0015a82c2db000af6aaaf3ae2ecb0532               3        2685.00    63.06
001cca7ae9ae17fb1caed9dfb1094831             239       25080.03  8854.14
001e6ad469a905060d959994f1b41e4f               1         250.00    17.94
002100f778ceb8431b7a1020ff7ab48f              55        1234.50   793.66
003554e2dce176b5555353e4f3555ac8               1         120.00    19.38

In [26]:
olist_agg_seller = olist_agg_seller.sort_values('sales_revenue', ascending = False)

In [28]:
olist_agg_seller_fist10 = olist_agg_seller[0:10]

In [29]:
olist_agg_seller_fist10

                                  count_products  sales_revenue   freight
seller_id
4869f7a5dfa277a7dca6462dcf3b52b2            1156      229472.63  20168.07
53243585a1d6dc2643021fd1853d8905             410      222776.05  13080.63
4a3ca9315b744ce9f8e9374361493884            1987      200472.92  35067.04
fa1c13f2614d7b5c4749cbc52fecda94             586      194042.03  10042.70
7c67e1448b00f6e969d365cea6b010ab            1364      187923.89  51612.55
7e93a43ef30c4f03f38b393420bc753a             340      176431.87   6322.18
da8622b14eb17ae2831f4ac5b9dab84a            1551      160236.57  24955.75
7a67c85e85bb2ce8582c35f2203ad736            1171      141745.53  20902.85
1025f0e2d44d7041d6cf58b6550e0bfa            1428      138968.55  33892.14
955fee9216a65b617aa5c0531780ce60            1499      135171.70  25430.98

In [26]:
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
query_c1 ='''
SELECT 
	c.customer_state,
	c.seller_state,
	c.status_atraso,
	c.product_category_name,
	SUM(c.price) AS total_faturado,
	SUM(c.freight_value) AS total_frete,
	SUM(c.product_weight_g) AS peso_total,
	SUM(c.review_score) AS soma_review,
	COUNT(DISTINCT c.order_id) AS num_pedidos
FROM 
	ironhack.olist_db.case_1 c
GROUP BY
	c.customer_state,
	c.seller_state,
	c.status_atraso,
	c.product_category_name
'''

In [27]:
tb_case_1 = pd.read_sql_query(query_c1, engine)

In [28]:
tb_case_1.head()

,customer_state,seller_state,status_atraso,product_category_name,total_faturado,total_frete,peso_total,soma_review,num_pedidos
0,AC,BA,ATRASADO,pcs,1200.00,51.70,2800.0,1.0,1
1,AC,DF,ONTIME,telefonia,199.00,26.42,150.0,5.0,1
2,AC,GO,ONTIME,esporte_lazer,98.99,48.60,400.0,5.0,1
3,AC,MA,ONTIME,beleza_saude,66.99,27.75,350.0,5.0,1
4,AC,MG,ONTIME,eletronicos,239.00,77.19,4000.0,5.0,1

In [ ]:
dict_regiao = {
    'AC': 'Norte',
    'AL': 'Nordeste',
    'AM': 'Norte',
    'AP': 'Norte',
    'BA': 'Nordeste',
    'CE': 'Nordeste',
    'DF': 'Centro-Oeste',
    'ES': 'Sudeste',
    'GO': 'Centro-Oeste',
    'MA': 'Nordeste',
    'MG': 'Sudeste',
    'MS': 'Centro-Oeste',
    'MT': 'Centro-Oeste',
    'PA': 'Norte',
    'PB': 'Nordeste',
    'PE': 'Nordeste',
    'PI': 'Nordeste',
    'PR': 'Sul',
    'RJ': 'Sudeste',
    'RN': 'Nordeste',
    'RO': 'Norte',
    'RR': 'Norte',
    'RS': 'Sul',
    'SC': 'Sul',
    'SE': 'Nordeste',
    'SP': 'Sudeste',
    'TO': 'Centro-Oeste'
}

In [ ]:
tb_case_1['customer_regiao'] = tb_case_1['customer_state'].map(dict_regiao)
tb_case_1['seller_regiao'] = tb_case_1['seller_state'].map(dict_regiao)

In [ ]:
tb_estado = tb_case_1.groupby([
    'customer_state', 'seller_state', 'status_atraso'
]).agg(num_pedidos=pd.NamedAgg('num_pedidos', 'sum')).reset_index()
tb_estado['atrasado'] = np.where(tb_estado['status_atraso'] == 'ONTIME', 0,
                                 1) * tb_estado['num_pedidos']
tb_estado_wide = tb_estado.groupby(['customer_state', 'seller_state']).agg(
    num_pedidos=pd.NamedAgg('num_pedidos', 'sum'),
    num_atrasado=pd.NamedAgg('atrasado', 'sum')).reset_index()
tb_estado_wide = tb_estado_wide[tb_estado_wide['num_pedidos'] > 5].copy()
tb_estado_wide['per_atraso'] = tb_estado_wide['num_atrasado'] / tb_estado_wide[
    'num_pedidos']

In [ ]:
fig, ax = plt.subplots(1, 2, figsize=(20, 10))
teste = pd.pivot_table(tb_estado_wide,
                       values='per_atraso',
                       index=['customer_state'],
                       columns='seller_state')
sns.set(rc={"figure.figsize": (10, 10)})
a = sns.heatmap(teste, cmap="Greens", ax=ax[0])
teste = pd.pivot_table(
    tb_estado_wide,
    values='num_atrasado',
    index=['customer_state'],
    columns='seller_state',
)
sns.set(rc={"figure.figsize": (10, 10)})
a = sns.heatmap(teste, cmap="Greens", ax=ax[1])

In [ ]:
tb_regiao = tb_case_1.groupby([
    'customer_regiao', 'seller_regiao', 'status_atraso'
]).agg(num_pedidos=pd.NamedAgg('num_pedidos', 'sum')).reset_index()
tb_regiao['atrasado'] = np.where(tb_regiao['status_atraso'] == 'ONTIME', 0,
                                 1) * tb_regiao['num_pedidos']
tb_regiao_wide = tb_regiao.groupby(['customer_regiao', 'seller_regiao']).agg(
    num_pedidos=pd.NamedAgg('num_pedidos', 'sum'),
    num_atrasado=pd.NamedAgg('atrasado', 'sum')).reset_index()
tb_regiao_wide = tb_regiao_wide[tb_regiao_wide['num_pedidos'] > 5].copy()
tb_regiao_wide['per_atraso'] = tb_regiao_wide['num_atrasado'] / tb_regiao_wide[
    'num_pedidos']

In [ ]:
import seaborn as sns
from matplotlib import pyplot as plt

fig, ax = plt.subplots(1, 2, figsize=(20, 10))
teste = pd.pivot_table(tb_regiao_wide,
                       values='per_atraso',
                       index=['customer_regiao'],
                       columns='seller_regiao')
sns.set(rc={"figure.figsize": (10, 10)})
a = sns.heatmap(teste, cmap="Greens", ax=ax[0])
#a.set_facecolor('lightyellow')
teste = pd.pivot_table(
    tb_regiao_wide,
    values='num_atrasado',
    index=['customer_regiao'],
    columns='seller_regiao',
)
sns.set(rc={"figure.figsize": (10, 10)})
a = sns.heatmap(teste, cmap="Greens", ax=ax[1])
#a.set_facecolor('lightyellow')

In [ ]:
tb_case_1['tipo_entrega'] = np.where(
    tb_case_1['customer_state'] == tb_case_1['seller_state'], 'MESMO_ESTADO',
    'OUTRO_ESTADO')
tb_case_1['pedido_atrasado'] = np.where(tb_case_1['status_atraso'] == 'ONTIME',
                                        0, 1) * tb_case_1['num_pedidos']

In [ ]:
tb_resumo_atrasos = tb_case_1.groupby(['customer_regiao', 'tipo_entrega']).agg(
    num_pedidos = pd.NamedAgg('num_pedidos', 'sum'),
    num_atrasados = pd.NamedAgg('pedido_atrasado', 'sum')
)
tb_resumo_atrasos['per_atraso'] = tb_resumo_atrasos['num_atrasados']/tb_resumo_atrasos['num_pedidos']
tb_resumo_atrasos.sort_values('per_atraso', ascending = False)
tb_resumo_atrasos = tb_resumo_atrasos.reset_index()

In [ ]:
sns.catplot(x='tipo_entrega', y='per_atraso', col='customer_regiao', data=tb_resumo_atrasos, kind='bar',col_wrap = 2)

In [ ]:
tb_resumo_cat = tb_case_1.groupby(['product_category_name']).agg(
    num_pedidos = pd.NamedAgg('num_pedidos', 'sum'),
    num_atrasados = pd.NamedAgg('pedido_atrasado', 'sum')
)
tb_resumo_cat = tb_resumo_cat.sort_values('num_pedidos', ascending = False)
tb_resumo_cat['cum_num_pedidos'] = tb_resumo_cat['num_pedidos'].cumsum()
tb_resumo_cat['relevancia_cat'] = tb_resumo_cat['cum_num_pedidos']/sum(tb_resumo_cat['num_pedidos'])
tb_resumo_cat_relevante = tb_resumo_cat[tb_resumo_cat['relevancia_cat'] < 0.8].reset_index()

In [ ]:
tb_resumo_cat_relevante

In [ ]:
tb_resumo_atrasos_cat = tb_case_1.groupby(['product_category_name', 'tipo_entrega']).agg(
    num_pedidos = pd.NamedAgg('num_pedidos', 'sum'),
    num_atrasados = pd.NamedAgg('pedido_atrasado', 'sum')
).reset_index()
tb_resumo_atrasos_cat['per_atraso'] = tb_resumo_atrasos_cat['num_atrasados']/tb_resumo_atrasos_cat['num_pedidos']
tb_resumo_atrasos_cat_rel = pd.merge(tb_resumo_atrasos_cat, tb_resumo_cat_relevante[['product_category_name']])
tb_resumo_atrasos_cat_rel.sort_values('per_atraso', ascending = False)

In [ ]:
sns.catplot(x='tipo_entrega', y='per_atraso', col='product_category_name', data=tb_resumo_atrasos_cat_rel, kind='bar',col_wrap = 4)

In [ ]:
query_c12 = '''
SELECT
    c.order_id,
	c.customer_state,
	c.seller_state,
	c.status_atraso,
	c.product_category_name,
	SUM(c.price) AS total_faturado,
	SUM(c.freight_value) AS total_frete,
	SUM(c.product_weight_g) AS peso_total,
	SUM(c.review_score) AS soma_review,
	COUNT(DISTINCT c.order_id) AS num_pedidos
FROM 
	ironhack.olist_db.case_1 c
GROUP BY
    c.order_id,
	c.customer_state,
	c.seller_state,
	c.status_atraso,
	c.product_category_name
'''

In [ ]:
tb_case_12 = pd.read_sql_query(query_c12, engine)
tb_case_12 = tb_case_12[tb_case_12['peso_total'] > 0].copy()
tb_case_12['tipo_entrega'] = np.where(
    tb_case_12['customer_state'] == tb_case_12['seller_state'], 'MESMO_ESTADO',
    'OUTRO_ESTADO')

In [ ]:
tb_case_12['log_peso'] = np.log(tb_case_12['peso_total'])

In [ ]:
sns.boxplot(x = 'status_atraso', y = 'log_peso', data = tb_case_12)

In [ ]:
sns.catplot(x='status_atraso', y='log_peso', col='tipo_entrega', data=tb_case_12, kind='box',col_wrap = 4)

In [ ]:
tb_case_12.groupby(['tipo_entrega', 'status_atraso']).agg(
    median_peso = pd.NamedAgg('peso_total', 'median')
)