In [1]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

In [16]:
engine = create_engine('postgresql+psycopg2://postgres:root@localhost:5432/ironhack')

In [22]:
query = open("Olist_query_2.txt", "r")

In [23]:
query = query.read()
print(query)

SELECT
	tb_1.order_id,
	tb_1.dias_atraso,
	tb_1.status_entrega,
	tb_customer.customer_state AS destiny_state,
	tb_sellers.seller_state AS origin_state
FROM
	(SELECT
		orders_tb.customer_id as customer_id,
		orders_tb.order_id as order_id,
		DATE_PART('DAYS', orders_tb.order_estimated_delivery_date - orders_tb.order_delivered_customer_date) AS dias_atraso,
		CASE
			WHEN DATE_PART('DAYS', orders_tb.order_estimated_delivery_date - orders_tb.order_delivered_customer_date) >= 0 THEN 'ONTIME'
			WHEN DATE_PART('DAYS', orders_tb.order_estimated_delivery_date - orders_tb.order_delivered_customer_date) < 0 THEN 'DELAYED'
			ELSE 'NOT DELIVERED'
		END AS status_entrega
	FROM
		ironhack.olist_db.olist_orders_dataset AS orders_tb) AS tb_1
LEFT JOIN ironhack.olist_db.olist_customers_dataset AS tb_customer
ON tb_1.customer_id = tb_customer.customer_id
LEFT JOIN ironhack.olist_db.olist_order_items_dataset AS tb_items
ON tb_1.order_id = tb_items.order_id
LEFT JOIN ironhack.olist_db.olist_sellers_dataset AS tb_sellers
ON tb_items.seller_id = tb_sellers.seller_id;

In [51]:
tb_final = pd.read_sql_query(query, engine)
tb_filtered = tb_final[tb_final['status_entrega']=='DELAYED']
tb_filtered.head()

,order_id,dias_atraso,status_entrega,destiny_state,origin_state
29,008a1b3db2a8bf63418c2cf7c7f494b1,-10.0,DELAYED,MG,SP
85,019e03014ec20cc2e3b180cdcf90b4e8,-10.0,DELAYED,CE,MG
90,01b6d15407d425529cbf0ec96258cb84,-9.0,DELAYED,SP,SP
93,01bc343311e5b8090b64d6ab287a5cf0,-13.0,DELAYED,RS,SP
94,01bc343311e5b8090b64d6ab287a5cf0,-13.0,DELAYED,RS,SP

In [56]:
tb_atrasos_estado = tb_filtered.groupby(['destiny_state','origin_state'])['dias_atraso'].agg(['mean', 'count'])

In [58]:
tb_atrasos_estado.head(50)

                                  mean  count
destiny_state origin_state
AC            BA            -24.000000      1
              SP            -16.000000      2
AL            AM            -38.000000      1
              MA             -4.333333      3
              MG             -4.666667      6
              PE             -6.000000      1
              PR            -14.285714     14
              RJ             -9.000000      2
              SP             -9.177419     62
AM            CE           -104.000000      1
              SP             -4.500000      4
AP            SP            -96.333333      3
BA            BA            -13.833333      6
              DF            -22.000000      2
              MA             -9.500000      2
              MG            -20.631579     38
              MS             -8.500000      2
              PR            -16.954545     22
              RJ            -14.133333     15
              RN             -5.000000      1
              RS             -7.666667      6
              SC            -23.444444      9
              SP            -10.062687    335
CE            BA            -10.000000      2
              DF            -18.500000      4
              MA            -15.000000      1
              MG            -11.111111      9
              PE            -15.000000      1
              PR            -27.666667      9
              RJ            -22.153846     13
              RN            -20.000000      1
              RS             -4.000000      1
              SC            -23.500000      4
              SP            -13.234899    149
DF            DF             -4.400000      5
              GO             -2.500000      2
              MA             -5.200000      5
              MG            -10.333333      6
              PE             -8.000000      1
              PR            -11.333333      6
              RJ            -17.750000     12
              RS            -22.000000      2
              SP             -6.519608    102
ES            DF             -2.285714      7
              ES             -5.000000      2
              MA            -12.833333      6
              MG            -29.230769     13
              PR            -16.777778      9
              RJ             -6.500000      2
              RS             -4.000000      1

In [61]:
tb_atrasos_estado = tb_atrasos_estado.sort_values(by=['count'], ascending=[False]).reset_index()

In [62]:
# < 0 THEN 'DELAYED'
# >= 0 THEN 'ONTIME'
tb_atrasos_estado.head(50)

    index destiny_state origin_state       mean  count
0     211            SP           SP  -7.618576   1615
1     210            RJ           SP -13.150512   1269
2     209            MG           SP  -7.740047    427
3     208            BA           SP -10.062687    335
4     207            RS           SP -11.283525    261
5     206            SC           SP  -8.553785    251
6     205            ES           SP  -9.725888    197
7     204            PR           SP  -8.538462    156
8     203            CE           SP -13.234899    149
9     202            RJ           PR -14.766129    124
10    201            GO           SP -11.606838    117
11    200            PE           SP -11.904348    115
12    199            MA           SP  -9.370370    108
13    198            SP           RJ -10.168224    107
14    197            SP           PR -10.301887    106
15    196            DF           SP  -6.519608    102
16    195            RJ           MG -12.872549    102
17    194            SP           MG -10.323232     99
18    193            PA           SP -11.288889     90
19    192            MS           SP  -8.206349     63
20    191            AL           SP  -9.177419     62
21    190            PI           SP -13.644068     59
22    189            SP           SC -10.192308     52
23    188            RJ           SC -15.265306     49
24    187            RJ           RJ -10.306122     49
25    186            MT           SP -10.630435     46
26    185            SE           SP -13.906977     43
27    184            MG           MG  -9.829268     41
28    183            MG           PR -12.710526     38
29    182            BA           MG -20.631579     38
30    181            PB           SP  -9.052632     38
31    180            MG           RJ  -9.444444     36
32    179            RN           SP -14.194444     36
33    178            SC           PR -11.964286     28
34    177            SP           MA  -7.571429     28
35    176            RS           PR  -9.576923     26
36    175            TO           SP  -7.083333     24
37    174            BA           PR -16.954545     22
38    173            PR           PR  -4.142857     21
39    172            RJ           RS -13.050000     20
40    171            RS           RJ  -9.421053     19
41    170            PR           RJ  -9.058824     17
42    169            SC           MG -10.352941     17
43    168            MG           SC -12.625000     16
44    167            SC           SC  -6.187500     16
45    166            RS           SC  -7.600000     15
46    165            BA           RJ -14.133333     15
47    164            PA           MG -22.285714     14
48    163            AL           PR -14.285714     14
49    161            ES           MG -29.230769     13

In [68]:
tb_atrasos_estado['atrasos_%'] = tb_atrasos_estado['count']*100/tb_atrasos_estado['count'].sum()
tb_atrasos_estado.head(20)

,index,destiny_state,origin_state,mean,count,percentual_atrasos,atrasos_%
0,211,SP,SP,-7.618576,1615,22.229869,22.229869
1,210,RJ,SP,-13.150512,1269,17.467309,17.467309
2,209,MG,SP,-7.740047,427,5.877495,5.877495
3,208,BA,SP,-10.062687,335,4.611149,4.611149
4,207,RS,SP,-11.283525,261,3.592567,3.592567
5,206,SC,SP,-8.553785,251,3.454921,3.454921
6,205,ES,SP,-9.725888,197,2.711631,2.711631
7,204,PR,SP,-8.538462,156,2.147281,2.147281
8,203,CE,SP,-13.234899,149,2.050929,2.050929
9,202,RJ,PR,-14.766129,124,1.706813,1.706813
10,201,GO,SP,-11.606838,117,1.610461,1.610461
11,200,PE,SP,-11.904348,115,1.582932,1.582932
12,199,MA,SP,-9.370370,108,1.486579,1.486579
13,198,SP,RJ,-10.168224,107,1.472815,1.472815
14,197,SP,PR,-10.301887,106,1.459050,1.459050
15,196,DF,SP,-6.519608,102,1.403992,1.403992
16,195,RJ,MG,-12.872549,102,1.403992,1.403992
17,194,SP,MG,-10.323232,99,1.362698,1.362698
18,193,PA,SP,-11.288889,90,1.238816,1.238816
19,192,MS,SP,-8.206349,63,0.867171,0.867171

In [69]:
tb_atrasos_estado.head(20)['atrasos_%'].sum()

79.73847212663455

In [70]:
query_3 = open("Olist_query_3.txt", "r")
query_3 = query_3.read()
tb_full = pd.read_sql_query(query_3, engine)
tb_full.head()

,order_id,dias_atraso,status_entrega,destiny_state,origin_state,review_score,product_category_name
0,e481f51cbdc54678b7cc49136f2d6af7,7.0,ONTIME,SP,SP,4.0,utilidades_domesticas
1,949d5b44dbf5de918fe9c16f97b45f8a,12.0,ONTIME,RN,MG,5.0,pet_shop
2,5ff96c15d0b717ac6ad1f3d77225a350,8.0,ONTIME,SP,SP,5.0,cama_mesa_banho
3,dcb36b511fcac050b97cd5c05de84dc3,12.0,ONTIME,GO,DF,5.0,perfumaria
4,116f0b09343b49556bbad5f35bee0cdf,20.0,ONTIME,SC,SP,5.0,telefonia

In [75]:
tb_full_filtered = tb_full[tb_full['status_entrega']=='DELAYED']
tb_product_atrasos = tb_full_filtered.groupby(['product_category_name'])['dias_atraso'].agg(['mean', 'count'])
tb_product_atrasos = tb_product_atrasos.sort_values(by=['count'], ascending=[False]).reset_index()
tb_product_atrasos['atrasos_%'] = tb_product_atrasos['count']*100/tb_product_atrasos['count'].sum()
tb_product_atrasos.head(20)

          product_category_name       mean  count  atrasos_%
0               cama_mesa_banho -10.893726    781  10.878953
1                  beleza_saude  -9.693481    721  10.043182
2              moveis_decoracao -10.577391    575   8.009472
3                 esporte_lazer -10.697368    532   7.410503
4        informatica_acessorios -10.427711    498   6.936899
5            relogios_presentes  -9.723404    423   5.892186
6         utilidades_domesticas -10.667647    340   4.736036
7                     telefonia  -9.116883    308   4.290291
8                    automotivo -12.160959    292   4.067419
9            ferramentas_jardim -10.658363    281   3.914194
10                   brinquedos -10.961240    258   3.593815
11                        bebes -11.401747    229   3.189859
12                   perfumaria -10.866972    218   3.036635
13                   cool_stuff -11.423963    217   3.022705
14                  eletronicos  -9.043478    207   2.883410
15                    papelaria -11.639053    169   2.354088
16            moveis_escritorio -11.671642    134   1.866555
17  fashion_bolsas_e_acessorios -10.254717    106   1.476529
18                     pet_shop  -7.705263     95   1.323304
19               consoles_games -11.140625     64   0.891489

In [76]:
tb_product_atrasos['atrasos_%'].head(20).sum()

89.8175233319404

In [85]:
tb_review_atrasos = tb_full.groupby(['status_entrega','review_score'])['dias_atraso'].agg(['count']).reset_index()
print(tb_review_atrasos)

   status_entrega  review_score  count
0         DELAYED           1.0   3870
1         DELAYED           2.0    606
2         DELAYED           3.0    754
3         DELAYED           4.0    708
4         DELAYED           5.0   1175
5   NOT DELIVERED           1.0      0
6   NOT DELIVERED           2.0      0
7   NOT DELIVERED           3.0      0
8   NOT DELIVERED           4.0      0
9   NOT DELIVERED           5.0      0
10         ONTIME           1.0   8708
11         ONTIME           2.0   3094
12         ONTIME           3.0   8489
13         ONTIME           4.0  20476
14         ONTIME           5.0  62132

In [87]:
tb_review_delayed = tb_review_atrasos[tb_review_atrasos['status_entrega']=='DELAYED']
tb_review_delayed['atrasos_%'] = tb_review_delayed['count']*100/tb_review_delayed['count'].sum()
print(tb_review_delayed)

  status_entrega  review_score  count  atrasos_%
0        DELAYED           1.0   3870  54.407423
1        DELAYED           2.0    606   8.519612
2        DELAYED           3.0    754  10.600309
3        DELAYED           4.0    708   9.953606
4        DELAYED           5.0   1175  16.519050

C:\Users\Lara\AppData\Local\Temp/ipykernel_24868/2257831070.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tb_review_delayed['atrasos_%'] = tb_review_delayed['count']*100/tb_review_delayed['count'].sum()

In [97]:
review_delayed = tb_full[tb_full['status_entrega']=='DELAYED']['review_score'].mean()
print(review_delayed)

2.256572472936876

In [98]:
number_delayed = tb_full[tb_full['status_entrega']=='DELAYED']['status_entrega'].count()
print(number_delayed)

7294

In [88]:
tb_review_ontime = tb_review_atrasos[tb_review_atrasos['status_entrega']=='ONTIME']
tb_review_ontime['atrasos_%'] = tb_review_ontime['count']*100/tb_review_ontime['count'].sum()
print(tb_review_ontime)

   status_entrega  review_score  count  atrasos_%
10         ONTIME           1.0   8708   8.462667
11         ONTIME           2.0   3094   3.006832
12         ONTIME           3.0   8489   8.249837
13         ONTIME           4.0  20476  19.899124
14         ONTIME           5.0  62132  60.381539

C:\Users\Lara\AppData\Local\Temp/ipykernel_24868/2582793310.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tb_review_ontime['atrasos_%'] = tb_review_ontime['count']*100/tb_review_ontime['count'].sum()

In [100]:
review_ontime = tb_full[tb_full['status_entrega']=='ONTIME']['review_score'].mean()
print(review_ontime)

4.207300362491375

In [99]:
number_ontime = tb_full[tb_full['status_entrega']=='ONTIME']['status_entrega'].count()
print(number_ontime)

103545

In [ ]:
# Os estados que esto com tempo de entrega positivos porm muito diferente do estimado,  tambm uma oportunidade de faturar mais