# LAB | Hypothesis testing

### Import libraries here:

In [1]:
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

- We will be using  the Pokemon dataset.
- In this challenge our `null hypothesis` is that the legendary pokemons and non legendary pokemons have identical average values.
- Before applying statistical methods to this data, let's first examine the data.
- Read the `pokemon.csv` dataset

In [3]:
pokemon = pd.read_csv('data/pokemon.csv')

- Let's start off by looking at the `head` function.

In [4]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

- Compare the `count` of legendary vs. non legendary Pokemons.

In [11]:
legendary_count = sum(pokemon['Legendary'])
print(legendary_count)
non_legendary_count = pokemon['Legendary'].count()-legendary_count
print(non_legendary_count)

65
735

- Compute the `mean` and `standard deviation` of the `Total` points for both legendary and non-legendary Pokemon.

In [13]:
legendary_df = pokemon[pokemon['Legendary']==True]
non_legendary_df = pokemon[pokemon['Legendary']==False]

In [14]:
legendary_df['Total'].describe()

count     65.000000
mean     637.384615
std       60.937389
min      580.000000
25%      580.000000
50%      600.000000
75%      680.000000
max      780.000000
Name: Total, dtype: float64

In [15]:
non_legendary_df['Total'].describe()

count    735.000000
mean     417.213605
std      106.760417
min      180.000000
25%      324.000000
50%      425.000000
75%      498.000000
max      700.000000
Name: Total, dtype: float64

### Independent samples t-test
- The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.
- In the cell below, use the `ttest_ind` function to compare the `Total` points for `legendary` and `non-legendary` pokemon. 
- The `null hypothesis` is that the legendary pokemons and non legendary pokemons have identical average values.
- Since we do not have any information about the population, assume the variances are not equal.
```python
from scipy.stats import ttest_ind
```

In [18]:
from scipy.stats import ttest_ind

In [21]:
ttest_ind(non_legendary_df['Total'], legendary_df['Total'])

Ttest_indResult(statistic=-16.386116965872425, pvalue=3.0952457469652825e-52)

- What do you conclude from this test? Write your conclusions below.
- Assume your confidence interval is 0.05

In [22]:
# null hypothesis is that the legendary pokemons and non legendary pokemons have identical average values.
# Como pvalue < 5% podemos rejeitar com btt certeza a hipótese nula
# Ou seja, podemos afirmar que os pokemons legendarios e não legendários tem médias diferentes

### Different types of pokemons
- How about we try to compare the different types of pokemon? 
- In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [32]:
pokemon_group_type = pokemon.groupby('Type 1').count()
pokemon_group_type['#']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: #, dtype: int64

- Since water is the largest group of Pokemon, print the `mean` and `standard deviation` for water pokemons and non-water pokemons.

In [35]:
pokemon_water = pokemon[pokemon['Type 1']=='Water']
pokemon_water.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000,112.000000
mean,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143
std,188.440807,113.188266,27.487026,28.377192,27.773809,29.030128,28.460493,23.019353,1.558800
min,7.000000,200.000000,20.000000,10.000000,20.000000,10.000000,20.000000,15.000000,1.000000
25%,130.000000,328.750000,52.250000,53.000000,54.500000,55.000000,50.000000,50.000000,1.000000
50%,275.000000,455.000000,70.000000,72.000000,70.000000,70.000000,65.000000,65.000000,3.000000
75%,456.250000,502.250000,90.250000,92.000000,88.500000,90.500000,89.250000,82.000000,4.000000
max,693.000000,770.000000,170.000000,155.000000,180.000000,180.000000,160.000000,122.000000,6.000000

In [37]:
pokemon_non_water = pokemon[pokemon['Type 1']!='Water']
pokemon_non_water.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000
mean,372.536337,435.859012,68.802326,79.790698,73.988372,72.495640,72.127907,68.654070,3.399709
std,209.928799,121.091682,25.194299,33.025152,31.719933,33.292537,27.739292,29.925907,1.666119
min,1.000000,180.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.000000
25%,197.750000,330.000000,50.000000,55.000000,50.000000,45.000000,50.000000,45.000000,2.000000
50%,380.000000,450.000000,65.000000,76.000000,70.000000,65.000000,70.000000,65.000000,3.000000
75%,553.250000,515.000000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.000000
max,721.000000,780.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.000000

- Perform an independent samples t-test to compare the `mean` of `Total` points for water Pokemon to all non-water Pokemon. 
- Assume the variances are equal.

In [39]:
ttest_ind(pokemon_non_water['Total'], pokemon_water['Total'])

Ttest_indResult(statistic=0.4418547448849676, pvalue=0.6587140317488793)

- Can we reject the Null hypothesis?
- Write your conclusion below.

In [ ]:
# Não podemos afirmar que a distribuição é diferente

# Challenge 2 - Matched Pairs Test

- In this challenge we will compare dependent samples of data describing our Pokemon. 
- Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. 
- Our hypothesis is that the defense and attack scores are equal. 
- Use the `ttest_rel` function to compare Pokemon's `defense` and `attack` and see if there is a statistically significant difference between them.
```python
from scipy.stats import ttest_rel
```

In [ ]:
# Your code here

- Can we reject the Null hypothesis?
- Write your conclusion below.

In [ ]:
# Your answer here

- We are also curious if is a significant difference between the mean of `Sp. Def` and the mean of `Sp. Atk`. 
- Perform the hypothesis test in the cell below.

In [ ]:
# Your code here

- Can we reject the Null hypothesis?
- Write your conclusion below.

In [ ]:
# Your answer here

- As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.
- Import the `ttest_1samp` function and perform a one sample t-test.
- Use the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.
```python
from scipy.stats import ttest_1samp
```

In [ ]:
# Your code here

# Bonus Challenge - The Chi-Square Test

- The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. 
- Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).
- In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legendary or not and whether the Type 1 of a Pokemon is water or not.
```python
contingency_table = pd.crosstab(pokemon['Legendary'], pokemon['Type 1'] == "Water")
```

In [ ]:
# Your code here

- Perform a chi-squared test using the `chi2_contingency`
- You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).
```python
from scipy.stats import chi2_contingency
```

In [ ]:
# Your code here

- Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here