# Strings in Python

In [1]:
nome_pintor = 'Mondrian'

In [2]:
print(nome_pintor)

Mondrian

In [3]:
nome_pintora = "Kahlo"

In [4]:
print(nome_pintora)

Kahlo

In [5]:
nome_pintor_2 = 'Mondrian '
print(nome_pintor)
print(nome_pintor_2)

Mondrian
Mondrian

In [6]:
print(nome_pintor == nome_pintor_2)

False

# The newline character (\n) & other special characters
- `\n` é a representação da quebra de linha (enter)
- `\t` é a representação do TAB
- `\` é o caráter para "escaparmos" um caráter (' e a propria \ por exemplo)

In [7]:
pintores_futuristas = "Marinetti\nBoccioni\nBalla"

In [8]:
print(pintores_futuristas)

Marinetti
Boccioni
Balla

In [9]:
escada = '1o Degrau\n\t2o Degrau\n\t\t3o Degrau\n\t\t\t4o Degrau'

## String concatenation

In [10]:
# Your code here
nm_comp_pintora = 'Frida ' + nome_pintora
print(nm_comp_pintora)

Frida Kahlo

In [11]:
nm_pintores = nome_pintora + ' ' + nome_pintor
print(nm_pintores)

Kahlo Mondrian

In [12]:
# Cuidado com tipos não numéricos!!
#print(['Frida'] + nome_pintora)

In [13]:
#print(1 + nome_pintor)

# String multiplication

In [14]:
print(3 * 'Olá! ')

Olá! Olá! Olá!

In [15]:
print(3 * 'Olá!\n')

Olá!
Olá!
Olá!

In [16]:
print('-' * 100 + '\n' + '\t' * 3 + 'O programa executou com sucesso!\n' + '-' * 100)

----------------------------------------------------------------------------------------------------
			O programa executou com sucesso!
----------------------------------------------------------------------------------------------------

## Multiline strings

In [17]:
pintores_futuristas_2 = '''Marinetti
Boccioni
Balla'''

In [18]:
print(pintores_futuristas)
print(pintores_futuristas_2)

Marinetti
Boccioni
Balla
Marinetti
Boccioni
Balla

In [19]:
pintores_futuristas == pintores_futuristas_2

True

In [20]:
pintores_futuristas_3 = '''
Marinetti
Boccioni
Balla
'''
print(pintores_futuristas_3)

Marinetti
Boccioni
Balla

In [21]:
print(pintores_futuristas_2)

Marinetti
Boccioni
Balla

In [22]:
pintores_futuristas == pintores_futuristas_3

False

In [23]:
query = '''
    SELECT
        *
    FROM
        tabela
'''

In [24]:
print(query)

    SELECT
        *
    FROM
        tabela

# Join list of strings

In [25]:
nomes = ['Pedro', 'Teche', 'de Lima']
print(nomes)

['Pedro', 'Teche', 'de Lima']

In [26]:
espaco = ' '
nome_completo = espaco.join(nomes)
print(nome_completo)

Pedro Teche de Lima

In [27]:
print(' '.join(nomes))

Pedro Teche de Lima

In [28]:
'@'.join(nomes)

'Pedro@Teche@de Lima'

In [29]:
print('\n'.join(nomes))

Pedro
Teche
de Lima

In [30]:
print('\t'.join(nomes))

Pedro	Teche	de Lima

In [31]:
print('Qualquercoisa'.join(nomes))

PedroQualquercoisaTecheQualquercoisade Lima

In [32]:
print(' '.join(['Pedro', 'Teche', 'de Lima']))

Pedro Teche de Lima

In [33]:
print(' '.join(nomes[0]))

P e d r o

# Practical example

In [34]:
cadastro_clientes = [{'nome' : 'José Antonio', 'endereco' : {'rua' : 'Al. dos Flamboyans', 'numero' : 1637, 'cidade' : 'Pirassununga', 'UF' : 'SP'}},
                     {'nome' : 'Antonio Francisco', 'endereco' : {'rua' : 'Rua das Acacias', 'numero' : 1765, 'cidade' : 'Piracicaba', 'UF' : 'SP'}},
                     {'nome' : 'Francisco João', 'endereco' : {'rua' : 'Rua dos Jequitibas', 'numero' : 455, 'cidade' : 'Belo Horizonte', 'UF' : 'MG'}},
                     {'nome' : 'João Carlos', 'endereco' : {'rua' : 'Rua dos Jequitibas', 'numero' : 1826, 'cidade' : 'Belém', 'UF' : 'PA'}}]

# Size of strings

In [35]:
print(len('Pedro'))

5

In [36]:
print(len('Pedro' + ' Teche'))

11

In [37]:
print(len('Pedro\n'))

6

In [38]:
print(len('''Pedro
'''))

6

# Word slicing

In [39]:
print('Adriano'[1:])

driano

In [40]:
nome = 'Adriano'
print(nome[:1])

A

In [41]:
print(nome[-3:])

ano

In [42]:
print(nome[:-3])

Adri

In [43]:
print(nome[4])

a

In [44]:
#print(nome[14])

# Splitting a string

Inverse of join

In [45]:
# Your code here
nome_completo = 'Pedro Teche de Lima'
nome_completo.split(' ')

['Pedro', 'Teche', 'de', 'Lima']

In [46]:
nome_completo.split(' ', 2)

['Pedro', 'Teche', 'de Lima']

In [47]:
print('''Pedro
Teche
de Lima'''.split('\n'))

['Pedro', 'Teche', 'de Lima']

In [48]:
list('abc')

['a', 'b', 'c']

In [49]:
nome_completo.split()

['Pedro', 'Teche', 'de', 'Lima']

# String methods

In [50]:
# Your code here
nome_errado = 'pEDRO tECHE DE lIMA'

In [51]:
print(nome_errado.capitalize())

Pedro teche de lima

In [52]:
print(nome_errado.upper())

PEDRO TECHE DE LIMA

In [53]:
print(nome_errado.lower())

pedro teche de lima

In [54]:
print(nome_errado.title())

Pedro Teche De Lima

# Strip

In [55]:
# Your code here
'     Pedro Teche de Lima           '.strip()

'Pedro Teche de Lima'

In [56]:
'     Pedro          Teche         de Lima           '.strip()

'Pedro          Teche         de Lima'

In [57]:
'     Pedro Teche de Lima           '.rstrip()

'     Pedro Teche de Lima'

In [58]:
'     Pedro Teche de Lima           '.lstrip()

'Pedro Teche de Lima           '

# Startswith vs Endswith

In [59]:
# Your code here
'Frida Kahlo'.startswith('Ped')

False

In [60]:
'Frida Kahlo'.startswith('fri')

False

In [61]:
'Frida Kahlo'.startswith('Fri')

True

In [62]:
'Frida Kahlo'.lower().startswith('fri')

True

In [63]:
'     Frida Kahlo'.strip().lower().startswith('fri')

True

In [64]:
'Frida Kahlo'.lower().startswith('ida', 2)

True

In [65]:
# Escolher apenas as colunas da T1
colunas = ['T1_id', 'T1_nome', 'T1_id_fatura', 'T1_cd_sku', 'T2_cd_promo', 'T3_qt_vendido', 'T4_vl_total', 
           'T5_vl_custo', 'T1_tipo_frete', 'T1_rua', 'T1_num', 'T1_cep', 'T1_cidade', 'T1_uf',
           'T1_vl_frete', 'T2_tp_promo', 'T3_vl_promo', 'T4_vl_sv', 'T5_qt_doado']

# Is it in a string?

In [66]:
'a' in 'abc'

True

In [67]:
'ab' in 'abc'

True

In [68]:
colunas = ['T1_id', 'T1_nome', 'T1_id_fatura', 'T1_cd_sku', 'T2_cd_promo', 'T3_qt_vendido', 'T4_vl_total', 
           'T5_vl_custo', 'T1_tipo_frete', 'T1_rua', 'T1_num', 'T1_cep', 'T1_cidade', 'T1_uf',
           'T1_vl_frete', 'T2_tp_promo', 'T3_vl_promo', 'T4_vl_sv', 'T5_qt_doado']

# Replacing values

In [69]:
# Your code here
lista_compras = '''Pão
Queijo
Tomate'''

print(lista_compras.replace('Tomate', 'Presunto'))

Pão
Queijo
Presunto

In [70]:
novas_compras = lista_compras.replace('Queijo', 'Presunto').replace('Tomate', 'Salame')
print(novas_compras)

Pão
Presunto
Salame

In [71]:
print(novas_compras.replace('\n', '-'))

Pão-Presunto-Salame

In [72]:
colunas_erradas = ['T1_id ', ' T1_nome', '  T1_id_fatura', 'T1_cd_sku', 'T2_cd_promo', 'T3_qt_vendido', 'T4_vl_total', 
                   'T5_vl_custo ', 'T1_tipo_frete ', ' T1_rua ', 'T1_num'  , 'T1_cep ', 'T1_cidade ', 'T1_uf  ',
                   'T1_vl_frete ', '  T2_tp_promo', ' T3_vl_promo', 'T4_vl_sv       ', 'T5_qt_doado  ']

# REGular EXpression - INTRO TO REGEX

In [73]:
# Importe a biblioteca!!
import re

1. `re.search`: Returns the first instance of an expression in a string.
2. `re.findall`: Finds all instances of an expression in a string and returns them as a list.
3. `re.split`: Splits a string based on a specified delimiter.
4. `re.sub`: Substitutes a string/substring with another.

Website to visually see what your regular expressions look like: https://regexper.com/

## Method .findall

In [74]:
text = 'Meu vizinho, o Sr. Pata, tem 5 cachorros.'
pattern = 'vizinho'

re.findall(pattern, text)

['vizinho']

In [75]:
text = 'Meu vizinho, o Sr. Pata, tem 5 cachorros e cada um tem 4 patas.'
pattern_2 = 'VIZINHO'

re.findall(pattern_2, text)

[]

In [76]:
text = 'Meu vizinho, o Sr. Pata, tem 5 cachorros e cada um tem 4 patas.'
pattern_3 = 'e'

re.findall(pattern_3, text)

['e', 'e', 'e', 'e']

In [77]:
# Extrair todas as colunas da T1
lista_colunas = ['T1_id', 'T1_nome', 'T1_id_fatura', 'T1_cd_sku', 'T2_cd_promo', 'T3_qt_vendido', 'T4_vl_total', 
                 'T5_vl_custo', 'T1_tipo_frete', 'T1_rua', 'T1_num', 'T1_cep', 'T1_cidade', 'T1_uf',
                 'T1_vl_frete', 'T2_tp_promo', 'T3_vl_promo', 'T4_vl_sv', 'T5_qt_doado']

## Introducing Sets

In [78]:
text = 'Meu vizinho, o Sr. Pata, tem 5 cachorros e cada um tem 4 patas.'
pattern = '[Mm][Ee][Uu]'

re.findall(pattern, text)

['Meu']

In [79]:
text = 'Meu vizinho, o Sr. Pata, tem 5 cachorros e cada um tem 4 patas.'
pattern = '[Pp]ata'

re.findall(pattern, text)

['Pata', 'pata']

In [80]:
text = 'Meu vizinho, o Sr. Pata, tem 5 cachorros e cada um tem 4 patas.'
pattern = '[Pp]ata|cachorro'
re.findall(pattern, text)

['Pata', 'cachorro', 'pata']

In [81]:
# Extrair todas as colunas da T1 ou da T2
lista_colunas = ['T1_id', 'T1_nome', 'T1_id_fatura', 'T1_cd_sku', 'T2_cd_promo', 'T3_qt_vendido', 'T4_vl_total', 
                 'T5_vl_custo', 'T1_tipo_frete', 'T1_rua', 'T1_num', 'T1_cep', 'T1_cidade', 'T1_uf',
                 'T1_vl_frete', 'T2_tp_promo', 'T3_vl_promo', 'T4_vl_sv', 'T5_qt_doado']

## Methods .search & .sub

In [82]:
text = 'Meu vizinho, o Sr. Pata, tem 5 cachorros e cada um tem 4 patas.'
pattern = 'Pata'

print(re.search(pattern, text))

<re.Match object; span=(19, 23), match='Pata'>

In [83]:
text = 'Meu vizinho, o Sr. Pata, tem 5 cachorros e cada um tem 4 patas.'
pattern = '[Pp]ata'

print(re.search(pattern, text))

<re.Match object; span=(19, 23), match='Pata'>

In [84]:
text = 'Meu vizinho, o Sr. Pata, tem 5 cachorros e cada um tem 4 patas.'
pattern = '[Pp]ata'
nova_pattern = 'Pedro'
print(re.sub(pattern, nova_pattern, text))

Meu vizinho, o Sr. Pedro, tem 5 cachorros e cada um tem 4 Pedros.

# Pattern sets

Range

1. [a-z]: Any lowercase letter between a and z.
1. [A-Z]: Any uppercase letter between A and Z.
1. [0-9]: Any numeric character between 0 and 9.
1. [A-z]: Any letter, lower or uppercase, between A and Z. ([UPPERCASE A - LOWERCASE Z])

In [85]:
text = 'Meu vizinho, o Sr. Pata, tem 5 cachorros e cada um tem 4 patas.'
pattern = '[A-z][A-z][A-z]'

re.findall(pattern, text)

['Meu', 'viz', 'inh', 'Pat', 'tem', 'cac', 'hor', 'ros', 'cad', 'tem', 'pat']

In [86]:
text = 'Meu vizinho, o Sr. Pata, tem 5 cachorros e cada um tem 4 patas.'
pattern = ' [A-z] '

re.findall(pattern, text)

[' o ', ' e ']

. `^` is equivalent to NOT

In [87]:
pattern = '[^A-Za-z0-9]'

re.findall(pattern, text)

[' ',
 ',',
 ' ',
 ' ',
 '.',
 ' ',
 ',',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '.']

In [88]:
# Extrair todas as colunas da T1 ou da T2
lista_colunas = ['T1_id', 'T1_nome', 'T1_id_fatura', 'T1_cd_sku', 'T2_cd_promo', 'T3_qt_vendido', 'T4_vl_total', 
                 'T5_vl_custo', 'T1_tipo_frete', 'T1_rua', 'T1_num', 'T1_cep', 'T1_cidade', 'T1_uf',
                 'T1_vl_frete', 'T2_tp_promo', 'T3_vl_promo', 'T4_vl_sv', 'T5_qt_doado']

# Meta Characters:

Characters that don't mean what they are.

1. `\w`: Any alphanumeric character.
3. `\d`: Any numeric character.
7. `.` : Any character except newline (\n).

In [89]:
text = 'Meu vizinho, o Sr. Pata, tem 5 cachorros e cada um tem 4 patas.'
pattern = r'\d' # equivalente à '\\d'

print(re.findall(pattern, text))

['5', '4']

In [90]:
text = 'Meu vizinho, o Sr. Pata, tem 50 cachorros e cada um tem 4 patas.'
pattern = r'\d' # equivalente à '\\d'

print(re.findall(pattern, text))

['5', '0', '4']

In [91]:
text = 'Meu vizinho, o Sr. Pata, tem 50 cachorros e cada um tem 4 patas.'
pattern = r'\w' # equivalente à '\\w'

print(re.findall(pattern, text))

['M', 'e', 'u', 'v', 'i', 'z', 'i', 'n', 'h', 'o', 'o', 'S', 'r', 'P', 'a', 't', 'a', 't', 'e', 'm', '5', '0', 'c', 'a', 'c', 'h', 'o', 'r', 'r', 'o', 's', 'e', 'c', 'a', 'd', 'a', 'u', 'm', 't', 'e', 'm', '4', 'p', 'a', 't', 'a', 's']

In [92]:
text = 'Meu vizinho, o Sr. Pata, tem 50 cachorros e cada um tem 4 patas.'
pattern = r'.'

print(re.findall(pattern, text))

['M', 'e', 'u', ' ', 'v', 'i', 'z', 'i', 'n', 'h', 'o', ',', ' ', 'o', ' ', 'S', 'r', '.', ' ', 'P', 'a', 't', 'a', ',', ' ', 't', 'e', 'm', ' ', '5', '0', ' ', 'c', 'a', 'c', 'h', 'o', 'r', 'r', 'o', 's', ' ', 'e', ' ', 'c', 'a', 'd', 'a', ' ', 'u', 'm', ' ', 't', 'e', 'm', ' ', '4', ' ', 'p', 'a', 't', 'a', 's', '.']

## Quantifiers
1. `*`: 0 or more
2. `?`: 0 or 1
3. `+`: 1 or more

In [93]:
text = 'Meu vizinho, o Sr. Pata, tem 50 cachorros e cada um tem 4 patas.'
pattern = r'\w+'

re.findall(pattern, text)

['Meu',
 'vizinho',
 'o',
 'Sr',
 'Pata',
 'tem',
 '50',
 'cachorros',
 'e',
 'cada',
 'um',
 'tem',
 '4',
 'patas']

In [94]:
text = 'Meu vizinho, o Sr. Pata, tem 50 cachorros e cada um tem 4 patas.'
pattern = r'\d+'
#pattern = r'[0-9][0-9]|[0-9]'
re.findall(pattern, text)

['50', '4']

In [95]:
pattern = r',.+'
re.findall(pattern, text)

[', o Sr. Pata, tem 50 cachorros e cada um tem 4 patas.']

In [96]:
pattern = r'ca\w{2}'
re.findall(pattern, text)

['cach', 'cada']

In [97]:
text = 'Meu vizinho, o Sr. Pata, tem 50 cachorros e cada um tem 4 patas.'
pattern = r'[Pp]atas?'
re.findall(pattern, text)

['Pata', 'patas']