# Manipulating a dataset structure
Applying some operations to change DataFrame strucutre and filtering content

In [9]:
# 1-) Import Pandas
# 2-) Read `vehicles.csv`
# 3-) Make some quick analysis
import pandas as pd
import numpy as np
tb_veic = pd.read_csv('data/dados_veiculos.csv')
tb_veic.describe()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
count,35952.00000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000
mean,2000.71640,3.338493,5.765076,17.609056,17.646139,23.880646,19.929322,475.316339,1892.598465
std,10.08529,1.359395,1.755268,4.467283,4.769349,5.890876,5.112409,119.060773,506.958627
min,1984.00000,0.600000,2.000000,0.060000,6.000000,9.000000,7.000000,37.000000,600.000000
25%,1991.00000,2.200000,4.000000,14.699423,15.000000,20.000000,16.000000,395.000000,1500.000000
50%,2001.00000,3.000000,6.000000,17.347895,17.000000,24.000000,19.000000,467.736842,1850.000000
75%,2010.00000,4.300000,6.000000,20.600625,20.000000,27.000000,23.000000,555.437500,2200.000000
max,2017.00000,8.400000,16.000000,47.087143,58.000000,61.000000,56.000000,1269.571429,5800.000000

Como podemos ver abaixo, a tabela contém 15 colunas, sendo 9 numéricas e 6 de objetos. Além disso todas as linhas parecem ter todas as variáveis preenchidas.

In [2]:
tb_veic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

Como podemos verificar o que as colunas com tipo 'object' contém?

## Check DataFrame Column Names

Rename all columns at once:
- `data.columns` is an **attribute** of the DataFrame which results in a list-like of the column names
    - You can substitute it by another list containing the names you want 
    - Note you have to substitute the whole set of column names at once
    
- `data.rename()` is a **method** of a DataFrame, in which you can rename one column at once
    - You just need to pass a dictionary containing {'old_name':'new_name'} 
    - By default, it changes names of a **index** (`axis=0`), you can specify `axis=1` to change **column** names
    - the `inplace` argument

In [3]:
print(tb_veic.columns)

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [4]:
print(tb_veic.columns[0])

Make

In [5]:
coluna_0 = tb_veic[tb_veic.columns[0]]

In [6]:
tipo_coluna_0 = a.dtypes.type

NameError: name 'a' is not defined

In [ ]:
tipo_coluna_0 == np.object_

In [7]:
for column in tb_veic.columns:
    if tb_veic[column].dtypes.type == np.object_:
        print(tb_veic[column].describe())

count         35952
unique          127
top       Chevrolet
freq           3643
Name: Make, dtype: object
count               35952
unique               3608
top       F150 Pickup 2WD
freq                  197
Name: Model, dtype: object
count               35952
unique                 45
top       Automatic 4-spd
freq                10585
Name: Transmission, dtype: object
count                 35952
unique                    8
top       Front-Wheel Drive
freq                  13044
Name: Drivetrain, dtype: object
count            35952
unique              34
top       Compact Cars
freq              5185
Name: Vehicle Class, dtype: object
count       35952
unique         13
top       Regular
freq        23587
Name: Fuel Type, dtype: object

### Substituting `.columns` attribute

In [10]:
print(tb_veic.columns)

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [11]:
old_column_names = list(tb_veic.columns)

In [12]:
tb_veic.columns = [column.lower().replace(' ', '_') for column in list(tb_veic.columns)]

In [13]:
tb_veic

,make,model,year,engine_displacement,cylinders,transmission,drivetrain,vehicle_class,fuel_type,fuel_barrels/year,city_mpg,highway_mpg,combined_mpg,co2_emission_grams/mile,fuel_cost/year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [14]:
tb_veic.columns = old_column_names
print(tb_veic.columns)

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

### Using `.rename() method`

`.rename({'old_column':'new_column'})`

In [ ]:
tb_veic = tb_veic.rename({'Year' : 'model_year'}, axis = 1)
print(tb_veic.columns)

In [ ]:
tb_veic.columns = old_column_names

In [ ]:
tb_veic.rename({'Year' : 'model_year'}, axis = 1)
print(tb_veic.columns)

In [ ]:
tb_veic.rename({'Year' : 'model_year'}, axis = 1, inplace = True)
print(tb_veic.columns)

In [16]:
dict_rename = {column : column.lower().replace(' ', '_').replace('/', '_by_') for column in tb_veic.columns}
print(dict_rename)

{'Make': 'make', 'Model': 'model', 'Year': 'year', 'Engine Displacement': 'engine_displacement', 'Cylinders': 'cylinders', 'Transmission': 'transmission', 'Drivetrain': 'drivetrain', 'Vehicle Class': 'vehicle_class', 'Fuel Type': 'fuel_type', 'Fuel Barrels/Year': 'fuel_barrels_by_year', 'City MPG': 'city_mpg', 'Highway MPG': 'highway_mpg', 'Combined MPG': 'combined_mpg', 'CO2 Emission Grams/Mile': 'co2_emission_grams_by_mile', 'Fuel Cost/Year': 'fuel_cost_by_year'}

In [17]:
tb_veic.rename(dict_rename, axis = 1, inplace = True)
print(tb_veic.columns)

Index(['make', 'model', 'year', 'engine_displacement', 'cylinders',
       'transmission', 'drivetrain', 'vehicle_class', 'fuel_type',
       'fuel_barrels_by_year', 'city_mpg', 'highway_mpg', 'combined_mpg',
       'co2_emission_grams_by_mile', 'fuel_cost_by_year'],
      dtype='object')

So, we have two options:
> 1. store it again on the variable `data`: 

    data = data.rename(columns={'Make':'Manufacturer', 'Year':'ANO'})
> 2. Use the inplace argument `inplace =  True` to change the values within the dataframe automatically

    data.rename(columns={'Make':'Manufacturer', 'Year':'ANO'}, inplace=True)
    
O parâmetro 'inplace' será deprecado e seu uso é considerado má prática.

## Reorder columns in a dataframe

Remember: You always pass a list of columns to access a dataframe

In [ ]:
print(tb_veic.columns)

In [ ]:
tb_veic[['model', 'make']]

In [ ]:
lista_colunas = list(tb_veic.columns)
lista_colunas.sort()
print(lista_colunas)

In [ ]:
tb_veic[lista_colunas]

## Remove column (or row)

- The `.drop()` method
- By default, `.drop()` drops a row given its index.

In [ ]:
tb_veic.drop('make', axis = 1)

In [ ]:
tb_veic.drop(['make', 'model_year'], axis = 1)

## Deep vs Shallow copy on pandas

In [ ]:
copia_tb_veic = tb_veic
copy_tb_veic = tb_veic.copy(deep = False)
deepcopy_tb_veic = tb_veic.copy(deep = True) # comportamento padrão do método

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

In [ ]:
c = b
print(c)

In [ ]:
c is b

In [ ]:
tb_veic_2 = tb_veic
tb_veic_2 is tb_veic

In [ ]:
tb_veic_2 = tb_veic.copy()
tb_veic_2 is tb_veic

## Sort Values in a DatFrame

In [ ]:
tb_veic = tb_veic.sort_values('model_year')
tb_veic

In [ ]:
tb_veic = tb_veic.sort_values('model_year', ascending = False)
tb_veic

In [ ]:
tb_veic = tb_veic.sort_values(['model_year', 'engine_displacement'], ascending = [False, True])
tb_veic

In [ ]:
tb_veic = tb_veic.sort_values(['model_year', 'engine_displacement'], ascending = False)
tb_veic

# Filter records
>    - `mask` concept
>    - `.query()` method

This is really important for data wrangling.

## Simple Example: Starting with a numpy array. How can I filter the values of a list?

In [18]:
meu_array = np.array(range(1,10,2))
print(meu_array)

[1 3 5 7 9]

The results of `my_array > 5` is what is called **a mask**. A result containing the `True` and `False` results of an operation.

In [19]:
print(meu_array > 5)

[False False False  True  True]

Masks can be used as an index to select data!

In [20]:
print(meu_array[meu_array > 5])

[7 9]

After selecting, you can do anything with it, for example assigning it. This operation is called a `vectorial` operation. It is done all at once.

In [21]:
meu_array_filtrado = meu_array[meu_array > 5]
print(meu_array_filtrado)

[7 9]

You can also save the condition

In [22]:
# Esse vetor booleano é uma máscara
num_gt5 = meu_array > 5
print(num_gt5)

[False False False  True  True]

## Bitwise logical operators - Combining conditions

To make more than one condition together, you can use 
- `&` - analogous to `and`
- `|` - analogous to `or`

For example, get all numbers from my_array that are greater than 3 and smaller than 8

Let's do it in steps:
- get values greater than 3

In [23]:
num_gt3 = meu_array > 3
print(meu_array)
print(num_gt3)

[1 3 5 7 9]
[False False  True  True  True]

- get values smaller than 8

In [24]:
num_st8 = meu_array < 8
print(meu_array)
print(num_st8)

[1 3 5 7 9]
[ True  True  True  True False]

- get values greater than 3 AND smaller than 8

In [ ]:
num_3a8 = num_st8 & num_gt3
print(meu_array)
print(num_3a8)

- get values greater than 3 OR smaller than 8

In [ ]:
num_3a8 = num_st8 | num_gt3
print(meu_array)
print(num_3a8)

## Now in a DataFrame

Let's find the rows in which the Cylinders values are exactly 6.

In [ ]:
cyl_6 = tb_veic['cylinders'] == 6
print(cyl_6)
sum(cyl_6)

In [ ]:
tb_veic_cyl6 = tb_veic[cyl_6] 
# mais abreviado seria:
# tb_veic_cyl6 = tb_veic[tb_veic['cylinders'] == 6]
tb_veic_cyl6

In [ ]:
tb_veic_cyl6.describe()

### You can combine conditions

Cars from `Ford` and 6 `Cylinders`

In [ ]:
print(tb_veic.columns)

In [ ]:
print(tb_veic['make'].unique())

In [ ]:
tb_veic[(tb_veic['make'] == 'Ford') & (tb_veic['cylinders'] == 6)]

### Using conditions to create new columns

In [ ]:
tb_veic_2 = tb_veic.copy()

In [ ]:
tb_veic_2.loc[tb_veic['cylinders'] == 6, 'cyl_6'] = True
tb_veic_2.loc[tb_veic['cylinders'] != 6, 'cyl_6'] = False
tb_veic_2

In [ ]:
tb_veic_2.describe()

In [ ]:
tb_veic_2.loc[tb_veic_2['city_mpg']  < 15, 'eff_city'] = 'C'
tb_veic_2.loc[(tb_veic_2['city_mpg']  >= 15) & (tb_veic_2['city_mpg']  < 20), 'eff_city'] = 'B'
tb_veic_2.loc[tb_veic_2['city_mpg']  >= 20, 'eff_city'] = 'A'

In [ ]:
tb_veic_2['eff_city'].value_counts()

In [ ]:
p25_citympg = tb_veic_2['city_mpg']  < 15
p75_citympg = tb_veic_2['city_mpg']  < 20
tb_veic_2.loc[p25_citympg, 'eff_city'] = 'C'
tb_veic_2.loc[~p25_citympg & p75_citympg, 'eff_city'] = 'B'
tb_veic_2.loc[~p75_citympg, 'eff_city'] = 'A'

In [ ]:
tb_veic_2['eff_city'].value_counts()

In [ ]:
tb_veic['cyl_6'] = np.where(tb_veic['cylinders'] == 6, True, False)
print(tb_veic['cyl_6'].describe())
sum(tb_veic['cyl_6'])

In [ ]:
tb_veic['cyl_6_ford'] = np.where((tb_veic['make'] == 'Ford') & (tb_veic['cylinders'] == 6),
                                 True,
                                 False)
print(tb_veic['cyl_6_ford'].describe())
sum(tb_veic['cyl_6_ford'])

In [ ]:
sum(tb_veic['city_mpg'] > tb_veic['highway_mpg'])

In [ ]:
tb_veic['co2grams_by_gallon'] = np.where(tb_veic['city_mpg'] > tb_veic['highway_mpg'],
                               tb_veic['co2_emission_grams_by_mile']/tb_veic['highway_mpg'],
                               tb_veic['co2_emission_grams_by_mile']/tb_veic['city_mpg'],
                              )
print(tb_veic['co2grams_by_gallon'].describe())

In [ ]:
tb_veic['eff_city'] = np.where(tb_veic['city_mpg'] < 15, 'C',
                               np.where(tb_veic['city_mpg'] < 20, 'B', 'A'))
tb_veic['eff_city'].value_counts()

## Another way to do the same thing

* using the method `query`

The method `query` receives a string in which you can say your condition. Important things:
- `.query()` is a method of your dataframe
- `.query()` method receives a string 
- Every word inside the string that is not `quoted` is considered a variable of your dataframe (so, for example `.query('Year == 1999')` will look for the variable `Year`. Another example: if you try to run `.query('Make == Ford')` will look both for the column name `Make` and the column named `Ford`. If you want the results of the column `Make` to match the **string** Ford, you have to run `.query('Make == "Ford"')`
- If your column has spaces, you have to call it using backticks like in **.query('\`Engine Displacement\` < 4')**:

In [ ]:
tb_veic.query('model_year == 2016')

In [ ]:
tb_veic.\
    query('make == "Ford"').\
    query('cylinders == 6').\
    query('model_year == 2017')