# Lab-Data-Manipulation - Filtering Data

In [1]:
import pandas as pd

# Context 

For this lab you'll use a dataset for UFO observations. The objective is to exercise the manipulation of a dataframe, so we'll use the tools we've learned about `reading`, `renaming`, `selecting specific columns`, `filtering based on conditions` and `merging` dataframes to try to better understand our dataset and store an enriched version of our dataset at the end.

variable	|class|	description
------------|-----|-------------
date_time	|datetime (mdy h:m)	| Date time sighting occurred
city_area	|character	        | City or area of sighting
state	    |character          |	state/region of sighting
country	    |character          |	Country of sighting
ufo_shape	|character          |	UFO Shape
encounter_length	|double     |	Encounter length in seconds
described_encounter_length	|character |	Encounter length as described (eg 1 hour, etc)
description	|character          |	Description of encounter
date_documented	|character      |	Date documented
latitude	|double             |	Latitude
longitude	|double             |	Longitude

## Read the dataset and store it in a dataframe called `ufo`

Pay attention at the file separator.

In [2]:
file = open('data/ufo.csv', 'rb')
file_lines = file.readlines(10000)
for i in range(5):
    print(file_lines[i].decode('utf-8'))
file.close()

Unnamed: 0;date;year;month;day;date_time;city_area;state;country;ufo_shape;encounter_length;described_encounter_length;description;date_documented;latitude;longitude

0;1949-10-10;1949;10;10;10/10/1949 20:30;san marcos;tx;us;cylinder;2700.0;45 minutes;This event took place in early fall around 1949-50. It occurred after a Boy Scout meeting in the Baptist Church. The Baptist Church sit;4/27/2004;29.88305560000001;-97.9411111

1;1949-10-10;1949;10;10;10/10/1949 21:00;lackland afb;tx;;light;7200.0;1-2 hrs;"1949 Lackland AFB&#44 TX.  Lights racing across the sky &amp; making 90 degree turns on a dime.";12/16/2005;29.38421;-98.581082

2;1955-10-10;1955;10;10;10/10/1955 17:00;chester (uk/england);;gb;circle;20.0;20 seconds;Green/Orange circular disc over Chester&#44 England;1/21/2008;53.2;-2.916667

3;1956-10-10;1956;10;10;10/10/1956 21:00;edna;tx;us;circle;20.0;1/2 hour;My older brother and twin sister were leaving the only Edna theater at about 9 PM&#44...we had our bikes and I took a different route home;1/17/2004;28.9783333;-96.6458333

In [3]:
tb_ufo = pd.read_csv('data/ufo.csv', sep = ';')
tb_ufo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  80332 non-null  int64
 1   date                        80332 non-null  object
 2   year                        80332 non-null  int64
 3   month                       80332 non-null  int64
 4   day                         80332 non-null  int64
 5   date_time                   80332 non-null  object
 6   city_area                   80332 non-null  object
 7   state                       74535 non-null  object
 8   country                     70662 non-null  object
 9   ufo_shape                   78400 non-null  object
 10  encounter_length            80329 non-null  float64
 11  described_encounter_length  80332 non-null  object
 12  description                 80317 non-null  object
 13  date_documented             80332 non-null  object
 14  latitude                    80331 non-null  float64
 15  longitude                   80332 non-null  float64
dtypes: float64(3), int64(4), object(9)
memory usage: 9.8+ MB

## Check the first 6 columns of the dataframe

In [5]:
tb_ufo.columns[0:6]

Index(['Unnamed: 0', 'date', 'year', 'month', 'day', 'date_time'], dtype='object')

## Check the shape of your dataframe to see how many rows and columns it has

In [7]:
tb_ufo.shape

(80332, 16)

## Bring the date information to the beginning of the dataframe

If you check the dataframe columns, there are some information of the date at the end of the dataframe. For this task, you should reorder the columns in a way that the first few columns all show the date information. 

*Hint: Use the ufo.columns to see all the column names you have.*

In [8]:
tb_ufo.columns

Index(['Unnamed: 0', 'date', 'year', 'month', 'day', 'date_time', 'city_area',
       'state', 'country', 'ufo_shape', 'encounter_length',
       'described_encounter_length', 'description', 'date_documented',
       'latitude', 'longitude'],
      dtype='object')

In [16]:
tb_ufo[['Unnamed: 0', 'date']]

       Unnamed: 0        date
0               0  1949-10-10
1               1  1949-10-10
2               2  1955-10-10
3               3  1956-10-10
4               4  1960-10-10
...           ...         ...
80327       80327  2013-09-09
80328       80328  2013-09-09
80329       80329  2013-09-09
80330       80330  2013-09-09
80331       80331  2013-09-09

[80332 rows x 2 columns]

## Just check if you did it the right way. Take a look at the head of the dataframe again and see if the `ufo` dataframe now is reordered.

## Select a piece of your dataframe. We won't work with the whole dataframe for now, just a few columns. Create a new dataframe called `ufo_vars` and select only the following columns of the `ufo` dataframe. 

`year`, `month`, `state`, `country`, `ufo_shape`, `encounter_length`

Perform a *.head()* on your result to check if you did it right.

Expected output:


|    |   year |   month | state   | country   | ufo_shape   |   encounter_length |
|---:|-------:|--------:|:--------|:----------|:------------|-------------------:|
|  0 |   1949 |      10 | tx      | us        | cylinder    |               2700 |
|  1 |   1949 |      10 | tx      | nan       | light       |               7200 |
|  2 |   1955 |      10 | nan     | gb        | circle      |                 20 |
|  3 |   1956 |      10 | tx      | us        | circle      |                 20 |
|  4 |   1960 |      10 | hi      | us        | light       |                900 |

## Rename the variable `encounter_length` to `encounter_seconds`. Keep using the `ufo_vars` dataset for the following tasks, unless specifically specified.

Again, check your results to check if you did it right.

Expected output:


|    |   year |   month | state   | country   | ufo_shape   |   encounter_seconds |
|---:|-------:|--------:|:--------|:----------|:------------|--------------------:|
|  0 |   1949 |      10 | tx      | us        | cylinder    |                2700 |
|  1 |   1949 |      10 | tx      | nan       | light       |                7200 |
|  2 |   1955 |      10 | nan     | gb        | circle      |                  20 |
|  3 |   1956 |      10 | tx      | us        | circle      |                  20 |
|  4 |   1960 |      10 | hi      | us        | light       |                 900 |

## Let's start filtering some records. Create a new dataframe called `ufo_us` and filter the `ufo_vars` dataframe bringing only the results in which the `country` is `"us"`



Expected output:


|    |   year |   month | state   | country   | ufo_shape   |   encounter_seconds |
|---:|-------:|--------:|:--------|:----------|:------------|--------------------:|
|  0 |   1949 |      10 | tx      | us        | cylinder    |                2700 |
|  3 |   1956 |      10 | tx      | us        | circle      |                  20 |
|  4 |   1960 |      10 | hi      | us        | light       |                 900 |
|  5 |   1961 |      10 | tn      | us        | sphere      |                 300 |
|  7 |   1965 |      10 | ct      | us        | disk        |                1200 |

### Use the `.query()` method to perform the same task as above

See which one do you prefer the most and keep using it for the exercises that follow

## For the `ufo_us` dataframe, select only the cases in which the year is in the first decade (2001-2010). Put that in a variable called `ufo_us_2000`.

Check your results.

## Try to do the same without the intermediate step of creating the `ufo_us` dataframe. That is, try to filter the dataset for the cases in which the country is "us" and the year is (2001-2010) from the original dataframe.



*Hint:* You have to make sure all of these conditions are applied simultaneously - using the `and` (or `&`) operator. Try to understand when to use the `and` and the `&` operator.

## BONUS 1:  Take a look at the column named `ufo_shape`. Compare the number of triangular UFO occurrances in the US from the year 2001 up to 2010 as compared to the years of 1991 up to 2000.

*Hint: you should expect roughly ~3 times more cases for 2001-2010 than 1991-2000.*

In [ ]:
# calculate the dataframe from 2001-2010 here

In [ ]:
# calculate the dataframe from 1991-2000 here

## BONUS 1.1: Count how many values does each category of `ufo_shape` has. 

Expected output:

````
        light        16565
        triangle      7865
        circle        7608
        fireball      6208
        other         5649
        unknown       5584
        sphere        5387
        disk          5213
        oval          3733
        formation     2457
        cigar         2057
        changing      1962
        flash         1328
        rectangle     1297
        cylinder      1283
        diamond       1178
        chevron        952
        egg            759
        teardrop       750
        cone           316
        cross          233
        delta            7
        round            2
        crescent         2
        dome             1
        pyramid          1
        changed          1
        hexagon          1
        flare            1
        Name: ufo_shape, dtype: int64

````

### Mask hints 

A `mask` is nothing more than a condition. This condition is applied to your whole dataframe (or pandas Series).
So for example, if you had a pandas Series with a variable called `Age`, you could create a mask for all people whose `Age` is less than 18 years old using the syntax:

`df['Age'] <= 18`

This would return a pandas series containing `True` and `False` values. For each index, you'd get a value of `True` or `False`.

You could save this mask in a variable, for example:

`condition = (df['Age'] <= 18)`

And then you could use that variable `condition` to select only the cases of the dataframe in which the index returned `True` using:
`df.loc[condition, :]`.


### `.query()` hints

Remember that the .query() method expects a string. That string should contain the variable of your dataframe without quotation marks and the comparison. For example, if you had a variable called `name`, you'd use a syntax like:
 `df.query('name == "Jack"')`
 
to bring all observations whose column `name` is exactly equal to `"Jack"` (note that Jack should be within quotation marks because a name is a string in this example).