![Ironhack logo](https://i.imgur.com/1QgrNNw.png)

# Lab | Introduction to Pandas

## Introduction

In the Introduction to Pandas lesson, we learned about the two main data structures in Pandas (Series and DataFrames), how to work with them, how to obtain them from other data structures, and how to perform basic calculations with them.

The goal of this lab is to help you practice the concepts you learned in the lesson and provide you with some hands-on experience working with Pandas.

## Getting Started

Read the instructions for each cell and provide your answers. Make sure to test your answers in each cell and save. Jupyter Notebook should automatically save your work progress. But it's a good idea to periodically save your work manually just in case.

## Resources

- [Pandas Documentation](https://pandas.pydata.org/pandas-docs/stable/)
- [Intro to Pandas Data Structures](https://pandas.pydata.org/pandas-docs/stable/dsintro.html)
- [Descriptive Statistics for Pandas DataFrame](https://chrisalbon.com/python/data_wrangling/pandas_dataframe_descriptive_stats/)

# Introduction to Pandas

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

#### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [1]:
# your code here

import pandas as pd
import numpy as np

#### 2. Create a Pandas Series containing the elements of the list below.

Expected output:

````python
            0     5.7
            1    75.2
            2    74.4
            3    84.0
            4    66.5
            5    66.3
            6    55.8
            7    75.7
            8    29.1
            9    43.7
            dtype: float64
    
````

In [2]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [6]:
# your code here
my_series = pd.Series(lst)
my_series

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

#### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [7]:
# your code here
my_series[2]

74.4

#### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

Expected output:

|    |    0 |    1 |    2 |    3 |    4 |
|---:|-----:|-----:|-----:|-----:|-----:|
|  0 | 53.1 | 95   | 67.5 | 35   | 78.4 |
|  1 | 61.3 | 40.8 | 30.8 | 37.8 | 87.6 |
|  2 | 20.6 | 73.2 | 44.2 | 14.6 | 91.8 |
|  3 | 57.4 |  0.1 | 96.1 |  4.2 | 69.5 |
|  4 | 83.6 | 20.5 | 85.4 | 22.8 | 35.9 |
|  5 | 49   | 69   |  0.1 | 31.8 | 89.1 |
|  6 | 23.3 | 40.7 | 95   | 83.8 | 26.9 |
|  7 | 27.6 | 26.4 | 53.8 | 88.8 | 68.5 |
|  8 | 96.6 | 96.4 | 53.4 | 72.4 | 50.1 |
|  9 | 73.7 | 39   | 43.2 | 81.6 | 34.7 |

In [56]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [60]:
my_dict = dict()

for i in range(len(b)):
    my_dict[i] = b[i]

print(my_dict)

my_DataFrame = pd.DataFrame(my_dict).transpose()

print(my_DataFrame)

{0: [53.1, 95.0, 67.5, 35.0, 78.4], 1: [61.3, 40.8, 30.8, 37.8, 87.6], 2: [20.6, 73.2, 44.2, 14.6, 91.8], 3: [57.4, 0.1, 96.1, 4.2, 69.5], 4: [83.6, 20.5, 85.4, 22.8, 35.9], 5: [49.0, 69.0, 0.1, 31.8, 89.1], 6: [23.3, 40.7, 95.0, 83.8, 26.9], 7: [27.6, 26.4, 53.8, 88.8, 68.5], 8: [96.6, 96.4, 53.4, 72.4, 50.1], 9: [73.7, 39.0, 43.2, 81.6, 34.7]}
      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

#### 5. Rename the data frame columns based on the names in the list below.

Expected output:

|    |   Score_1 |   Score_2 |   Score_3 |   Score_4 |   Score_5 |
|---:|----------:|----------:|----------:|----------:|----------:|
|  0 |      53.1 |      95   |      67.5 |      35   |      78.4 |
|  1 |      61.3 |      40.8 |      30.8 |      37.8 |      87.6 |
|  2 |      20.6 |      73.2 |      44.2 |      14.6 |      91.8 |
|  3 |      57.4 |       0.1 |      96.1 |       4.2 |      69.5 |
|  4 |      83.6 |      20.5 |      85.4 |      22.8 |      35.9 |
|  5 |      49   |      69   |       0.1 |      31.8 |      89.1 |
|  6 |      23.3 |      40.7 |      95   |      83.8 |      26.9 |
|  7 |      27.6 |      26.4 |      53.8 |      88.8 |      68.5 |
|  8 |      96.6 |      96.4 |      53.4 |      72.4 |      50.1 |
|  9 |      73.7 |      39   |      43.2 |      81.6 |      34.7 |

In [30]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [31]:
#my_DataFrame.rename(columns=colnames)
my_DataFrame.columns=colnames
print(my_DataFrame)

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

#### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

Expected output:

|    |   Score_1 |   Score_3 |   Score_5 |
|---:|----------:|----------:|----------:|
|  0 |      53.1 |      67.5 |      78.4 |
|  1 |      61.3 |      30.8 |      87.6 |
|  2 |      20.6 |      44.2 |      91.8 |
|  3 |      57.4 |      96.1 |      69.5 |
|  4 |      83.6 |      85.4 |      35.9 |
|  5 |      49   |       0.1 |      89.1 |
|  6 |      23.3 |      95   |      26.9 |
|  7 |      27.6 |      53.8 |      68.5 |
|  8 |      96.6 |      53.4 |      50.1 |
|  9 |      73.7 |      43.2 |      34.7 |

In [34]:
my_DataFrame.iloc[:,[0,2,4]]

   Score_1  Score_3  Score_5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9
5     49.0      0.1     89.1
6     23.3     95.0     26.9
7     27.6     53.8     68.5
8     96.6     53.4     50.1
9     73.7     43.2     34.7

#### 7. From the original data frame, calculate the average Score_3 value.

Expected output:

````python
            56.95
````

In [40]:
my_DataFrame.iloc[:,2].mean()

56.95000000000001

#### 8. From the original data frame, calculate the maximum Score_4 value.

Expected output:

````python
            88.8
````

In [41]:
my_DataFrame.iloc[:,3].max()

88.8

#### 9. From the original data frame, calculate the median Score 2 value.

Expected output:

````python
            40.75
````

In [42]:
my_DataFrame.iloc[:,1].median()

40.75

#### 10. Create a Pandas DataFrame from the dictionary of product orders below.

Expected output:

|    | Description                       |   Quantity |   UnitPrice |   Revenue |
|---:|:----------------------------------|-----------:|------------:|----------:|
|  0 | LUNCH BAG APPLE DESIGN            |          1 |        1.65 |      1.65 |
|  1 | SET OF 60 VINTAGE LEAF CAKE CASES |         24 |        0.55 |     13.2  |
|  2 | RIBBON REEL STRIPES DESIGN        |          1 |        1.65 |      1.65 |
|  3 | WORLD WAR 2 GLIDERS ASSTD DESIGNS |       2880 |        0.18 |    518.4  |
|  4 | PLAYING CARDS JUBILEE UNION JACK  |          2 |        1.25 |      2.5  |
|  5 | POPCORN HOLDER                    |          7 |        0.85 |      5.95 |
|  6 | BOX OF VINTAGE ALPHABET BLOCKS    |          1 |       11.95 |     11.95 |
|  7 | PARTY BUNTING                     |          4 |        4.95 |     19.8  |
|  8 | JAZZ HEARTS ADDRESS BOOK          |         10 |        0.19 |      1.9  |
|  9 | SET OF 4 SANTA PLACE SETTINGS     |         48 |        1.25 |     60    |

In [44]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [45]:
orders_DataFrame = pd.DataFrame(orders)
orders_DataFrame

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

#### 11. Calculate the total quantity ordered and revenue generated from these orders.

Expected output:

````python
            Quantity    2978.0
            Revenue      637.0
````

In [52]:
orders_DataFrame.iloc[:,[1,3]].sum()

Quantity    2978.0
Revenue      637.0
dtype: float64

#### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.
Expected output:

````python
            Most expensive:  11.95
            Least expensive:  0.18
            Difference:  11.77
````

In [54]:
print('Max:',orders_DataFrame.iloc[:,2].max())

print('Min:',orders_DataFrame.iloc[:,2].min())

print('Difference:',orders_DataFrame.iloc[:,2].max()-orders_DataFrame.iloc[:,2].min())

Max: 11.95
Min: 0.18
Difference: 11.77

# BONUS

#### 1 Create a random dataframe containing 3 columns and 10 rows. 

*Hint: You'll have to use a `numpy.random` method to create random observations*

**Example of output:**

|    |         0 |        1 |        2 |
|---:|----------:|---------:|---------:|
|  0 | 0.0883504 | 0.867054 | 0.977949 |
|  1 | 0.819555  | 0.643927 | 0.122975 |
|  2 | 0.484618  | 0.515125 | 0.807791 |
|  3 | 0.539583  | 0.620799 | 0.926963 |
|  4 | 0.0479896 | 0.772282 | 0.621921 |
|  5 | 0.1398    | 0.767678 | 0.678816 |
|  6 | 0.0895157 | 0.242867 | 0.887941 |
|  7 | 0.160186  | 0.750576 | 0.439416 |
|  8 | 0.982747  | 0.652903 | 0.575518 |
|  9 | 0.646373  | 0.523237 | 0.700222 |

In [64]:
random_dict = dict()

for i in range(3):
    random_dict[i] = list()
    for j in range(10):
        random_dict[i].append(np.random.random())  
    
random_DataFrame = pd.DataFrame(random_dict)
print(random_DataFrame)

          0         1         2
0  0.672315  0.037751  0.827251
1  0.791580  0.370178  0.862961
2  0.147831  0.225389  0.770834
3  0.999347  0.478254  0.621466
4  0.171167  0.740563  0.040036
5  0.098328  0.780894  0.749767
6  0.854579  0.357789  0.160641
7  0.714425  0.560977  0.303406
8  0.251251  0.507354  0.739962
9  0.421638  0.402987  0.293725

#### 2 Create a random dataframe containing 3 columns and 10 rows with specific column names. 

Use `['column1', 'column2', 'column3']` as the column names.

**Example of output:**

|    |   column1 |   column2 |   column3 |
|---:|----------:|----------:|----------:|
|  0 |        10 |        21 |        45 |
|  1 |        32 |        87 |        39 |
|  2 |        93 |        53 |         8 |
|  3 |        52 |        77 |        41 |
|  4 |        72 |        50 |        31 |
|  5 |        16 |         6 |        41 |
|  6 |        66 |        33 |        62 |
|  7 |        97 |        50 |        92 |
|  8 |        21 |        71 |        42 |
|  9 |        91 |        97 |        32 |

In [65]:
random_DataFrame.columns = ['column1', 'column2', 'column3']
print(random_DataFrame)

    column1   column2   column3
0  0.672315  0.037751  0.827251
1  0.791580  0.370178  0.862961
2  0.147831  0.225389  0.770834
3  0.999347  0.478254  0.621466
4  0.171167  0.740563  0.040036
5  0.098328  0.780894  0.749767
6  0.854579  0.357789  0.160641
7  0.714425  0.560977  0.303406
8  0.251251  0.507354  0.739962
9  0.421638  0.402987  0.293725

#### 3 Create a random dataframe containing N columns and M rows with specific column names.

For this task you'll have to name the columns as `['column1', 'column2', 'column3', ...,'columnN']`. You can use a list comprehension to do that.

In [68]:
N = 10
M = 30

random_dict = dict()

for i in range(N):
    random_dict[i] = list()
    for j in range(M):
        random_dict[i].append(np.random.random())  
    
random_DataFrame = pd.DataFrame(random_dict)

nome_colunas = list()
for i in range(N):
    nome_colunas.append('column_'+str(i))

random_DataFrame.columns = nome_colunas
    
print(random_DataFrame)

    column_0  column_1  column_2  column_3  column_4  column_5  column_6  \
0   0.935500  0.171833  0.475216  0.746308  0.975933  0.992570  0.262792
1   0.019330  0.360736  0.156581  0.006263  0.207716  0.112092  0.985294
2   0.015196  0.811122  0.095113  0.980372  0.513916  0.222622  0.781163
3   0.752141  0.895088  0.479423  0.559181  0.591096  0.061707  0.589826
4   0.119325  0.077002  0.736704  0.033812  0.795079  0.141227  0.840324
5   0.123207  0.752783  0.150309  0.605576  0.642894  0.731886  0.621082
6   0.485607  0.633166  0.042500  0.465524  0.463495  0.745922  0.947452
7   0.976669  0.958578  0.688504  0.598455  0.484795  0.701253  0.463752
8   0.516470  0.503916  0.351587  0.738339  0.073301  0.402768  0.532662
9   0.369385  0.598713  0.890944  0.841043  0.655841  0.319072  0.314373
10  0.458333  0.431472  0.870884  0.577132  0.428119  0.294179  0.630707
11  0.226852  0.837838  0.715165  0.314912  0.438729  0.775581  0.571101
12  0.993931  0.898567  0.717453  0.292853  0.158865  0.560348  0.417780
13  0.058351  0.121092  0.816116  0.252783  0.103184  0.664296  0.459545
14  0.847621  0.329360  0.033618  0.841860  0.243665  0.528867  0.013814
15  0.608062  0.559058  0.414898  0.529747  0.918366  0.374891  0.483468
16  0.137410  0.230129  0.246291  0.854106  0.850259  0.668893  0.847204
17  0.580749  0.646537  0.626960  0.224574  0.151351  0.807600  0.661352
18  0.046997  0.071777  0.276380  0.850678  0.318857  0.216275  0.411439
19  0.745202  0.801110  0.017294  0.224071  0.850558  0.452841  0.614708
20  0.418023  0.784679  0.840438  0.892918  0.840374  0.567475  0.179989
21  0.767764  0.105696  0.004032  0.350857  0.463653  0.547616  0.647881
22  0.314762  0.933924  0.573717  0.095559  0.553459  0.970217  0.684773
23  0.689673  0.872015  0.819622  0.001730  0.658032  0.264599  0.636673
24  0.782498  0.775195  0.882427  0.173944  0.538585  0.941728  0.531707
25  0.111644  0.616331  0.728067  0.699846  0.691324  0.329399  0.358661
26  0.368881  0.235247  0.096524  0.020485  0.362055  0.887986  0.002386
27  0.344732  0.185709  0.266192  0.810179  0.121128  0.926833  0.907925
28  0.191030  0.074857  0.601066  0.062003  0.826564  0.847702  0.402759
29  0.586155  0.544979  0.627595  0.452560  0.750653  0.711621  0.993852

    column_7  column_8  column_9
0   0.151674  0.638679  0.484586
1   0.828368  0.245194  0.760570
2   0.547330  0.729738  0.196528
3   0.089829  0.633626  0.541807
4   0.544572  0.322766  0.496588
5   0.299433  0.468039  0.544140
6   0.253314  0.078850  0.343154
7   0.711960  0.471432  0.658646
8   0.955383  0.104947  0.204503
9   0.712429  0.273766  0.325479
10  0.083426  0.922755  0.062214
11  0.482933  0.627748  0.365408
12  0.777298  0.225303  0.225631
13  0.200489  0.867559  0.867955
14  0.306905  0.898969  0.567784
15  0.702899  0.021310  0.842959
16  0.257392  0.294870  0.271998
17  0.214883  0.362070  0.489997
18  0.375062  0.263006  0.064156
19  0.461875  0.710382  0.003941
20  0.519241  0.343387  0.487628
21  0.631675  0.675768  0.188302
22  0.113152  0.438288  0.953054
23  0.850131  0.424585  0.904297
24  0.458039  0.670062  0.228828
25  0.959920  0.439787  0.764300
26  0.707751  0.383877  0.852690
27  0.136278  0.406306  0.413114
28  0.499554  0.138505  0.673611
29  0.653974  0.962365  0.650535